experimental/api/productOfferingQualification/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ws="http://orange.com/MEF/api/productOfferingQualification/v0/soap11"
                  xmlns:msg="http://orange.com/MEF/api/productOfferingQualification/v0/message"
                  xmlns:mod="http://orange.com/MEF/api/productOfferingQualification/v0/model"
                  name="productOfferingQualification"
                  targetNamespace="http://orange.com/MEF/api/productOfferingQualification/v0/soap11">
   <wsdl:documentation>Service: productOfferingQualification
            Version: 0.1.0_inProgress
            Owner: MEF
            Generated on: 2017-07-25T21:07:20.297Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://orange.com/MEF/api/productOfferingQualification/v0/message">
         <xs:import schemaLocation="model.xsd"
                    namespace="http://orange.com/MEF/api/productOfferingQualification/v0/model"/>
         <xs:element name="productOfferingQualificationCreate"
                     type="msg:productOfferingQualificationCreate">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productOfferingQualificationCreate">
            <xs:sequence>
               <xs:element name="productOfferingQualification"
                           type="mod:POSTProductOfferingQualification"
                           minOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOfferingQualificationCreateResponse"
                     type="msg:productOfferingQualificationCreateResponse"/>
         <xs:complexType name="productOfferingQualificationCreateResponse">
            <xs:sequence>
               <xs:element name="productOfferingQualification"
                           type="mod:ProductOfferingQualification"
                           minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOfferingQualificationFind"
                     type="msg:productOfferingQualificationFind">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productOfferingQualificationFind">
            <xs:sequence>
               <xs:element name="state" type="xs:string" minOccurs="0"/>
               <xs:element name="expectedResponseDate" type="xs:string" minOccurs="0"/>
               <xs:element name="projectId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOfferingQualificationFindResponse"
                     type="msg:productOfferingQualificationFindResponse"/>
         <xs:complexType name="productOfferingQualificationFindResponse">
            <xs:sequence>
               <xs:element name="productOfferingQualificationFindReq"
                           type="mod:ProductOfferingQualificationFindReq"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOfferingQualificationGet"
                     type="msg:productOfferingQualificationGet"/>
         <xs:complexType name="productOfferingQualificationGet">
            <xs:sequence>
               <xs:element name="productOfferingQualificationId" type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOfferingQualificationGetResponse"
                     type="msg:productOfferingQualificationGetResponse"/>
         <xs:complexType name="productOfferingQualificationGetResponse">
            <xs:sequence>
               <xs:element name="productOfferingQualification"
                           type="mod:ProductOfferingQualification"
                           minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="faultCode400" type="mod:ZError"/>
         <xs:element name="faultCode401" type="mod:ZError"/>
         <xs:element name="faultCode403" type="mod:ZError"/>
         <xs:element name="faultCode404" type="mod:ZError"/>
         <xs:element name="faultCode408" type="mod:ZError"/>
         <xs:element name="faultCode422" type="mod:ZError"/>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="productOfferingQualificationCreate">
      <wsdl:part name="parameters" element="msg:productOfferingQualificationCreate"/>
   </wsdl:message>
   <wsdl:message name="productOfferingQualificationCreateResponse">
      <wsdl:part name="parameters"
                 element="msg:productOfferingQualificationCreateResponse"/>
   </wsdl:message>
   <wsdl:message name="productOfferingQualificationFind">
      <wsdl:part name="parameters" element="msg:productOfferingQualificationFind"/>
   </wsdl:message>
   <wsdl:message name="productOfferingQualificationFindResponse">
      <wsdl:part name="parameters"
                 element="msg:productOfferingQualificationFindResponse"/>
   </wsdl:message>
   <wsdl:message name="productOfferingQualificationGet">
      <wsdl:part name="parameters" element="msg:productOfferingQualificationGet"/>
   </wsdl:message>
   <wsdl:message name="productOfferingQualificationGetResponse">
      <wsdl:part name="parameters" element="msg:productOfferingQualificationGetResponse"/>
   </wsdl:message>
   <wsdl:message name="faultCode400">
      <wsdl:part name="fault" element="msg:faultCode400"/>
   </wsdl:message>
   <wsdl:message name="faultCode401">
      <wsdl:part name="fault" element="msg:faultCode401"/>
   </wsdl:message>
   <wsdl:message name="faultCode403">
      <wsdl:part name="fault" element="msg:faultCode403"/>
   </wsdl:message>
   <wsdl:message name="faultCode404">
      <wsdl:part name="fault" element="msg:faultCode404"/>
   </wsdl:message>
   <wsdl:message name="faultCode408">
      <wsdl:part name="fault" element="msg:faultCode408"/>
   </wsdl:message>
   <wsdl:message name="faultCode422">
      <wsdl:part name="fault" element="msg:faultCode422"/>
   </wsdl:message>
   <wsdl:portType name="productOfferingQualification">
      <wsdl:documentation>This API is used to provide the ability to determine if service can be delivered to a specific customer site within a Partner’s domain</wsdl:documentation>
      <wsdl:operation name="productOfferingQualificationCreate">
         <wsdl:documentation><!--                    
                        [public]--></wsdl:documentation>
         <wsdl:input name="productOfferingQualificationCreateRequest"
                     message="ws:productOfferingQualificationCreate"/>
         <wsdl:output name="productOfferingQualificationCreateResponse"
                      message="ws:productOfferingQualificationCreateResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
      </wsdl:operation>
      <wsdl:operation name="productOfferingQualificationFind">
         <wsdl:documentation><!--                    
                        [public]--></wsdl:documentation>
         <wsdl:input name="productOfferingQualificationFindRequest"
                     message="ws:productOfferingQualificationFind"/>
         <wsdl:output name="productOfferingQualificationFindResponse"
                      message="ws:productOfferingQualificationFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
      </wsdl:operation>
      <wsdl:operation name="productOfferingQualificationGet">
         <wsdl:input name="productOfferingQualificationGetRequest"
                     message="ws:productOfferingQualificationGet"/>
         <wsdl:output name="productOfferingQualificationGetResponse"
                      message="ws:productOfferingQualificationGetResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="productOfferingQualification.soap11.binding"
                 type="ws:productOfferingQualification">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="productOfferingQualificationCreate">
         <soap:operation soapAction="http://orange.com/MEF/api/productOfferingQualification/v0/soap11/productOfferingQualificationCreate"/>
         <wsdl:input name="productOfferingQualificationCreateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOfferingQualificationCreateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="productOfferingQualificationFind">
         <soap:operation soapAction="http://orange.com/MEF/api/productOfferingQualification/v0/soap11/productOfferingQualificationFind"/>
         <wsdl:input name="productOfferingQualificationFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOfferingQualificationFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="productOfferingQualificationGet">
         <soap:operation soapAction="http://orange.com/MEF/api/productOfferingQualification/v0/soap11/productOfferingQualificationGet"/>
         <wsdl:input name="productOfferingQualificationGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOfferingQualificationGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="productOfferingQualification">
      <wsdl:documentation>Service: productOfferingQualification
            Version: 0.1.0_inProgress
            Owner: MEF
            Generated on: 2017-07-25T21:07:20.297Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
      <wsdl:port name="productOfferingQualification.soap11.port"
                 binding="ws:productOfferingQualification.soap11.binding">
         <soap:address location="http://localhost/changeIt"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
