experimental/api/R2/troubleTicket/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ws="http://orange.com/MEF/api/troubleTicket/v1/soap11"
                  xmlns:msg="http://orange.com/MEF/api/troubleTicket/v1/message"
                  xmlns:mod="http://orange.com/MEF/api/troubleTicket/v1/model"
                  name="troubleTicket"
                  targetNamespace="http://orange.com/MEF/api/troubleTicket/v1/soap11">
   <wsdl:documentation>Service: troubleTicket
            Version: 1.0.0_inProgress
            Owner: MEF
            Generated on: 2018-02-27T12:14:11.677Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://orange.com/MEF/api/troubleTicket/v1/message">
         <xs:import schemaLocation="model.xsd"
                    namespace="http://orange.com/MEF/api/troubleTicket/v1/model"/>
         <xs:element name="troubleTicketCreate" type="msg:troubleTicketCreate">
            <xs:annotation>
               <xs:documentation source="public">This operation is used by the service provider to create a trouble ticket in the partner's ticketing system.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="troubleTicketCreate">
            <xs:sequence>
               <xs:element name="troubleTicket" type="mod:CreateTicket" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="troubleTicketCreateResponse"
                     type="msg:troubleTicketCreateResponse"/>
         <xs:complexType name="troubleTicketCreateResponse">
            <xs:sequence>
               <xs:element name="troubleTicket" type="mod:TroubleTicket" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="troubleTicketGet" type="msg:troubleTicketGet">
            <xs:annotation>
               <xs:documentation source="public">This operation is for the retrieval of a single trouble ticket based on a trouble ticket id.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="troubleTicketGet">
            <xs:sequence>
               <xs:element name="troubleTicketId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="troubleTicketGetResponse" type="msg:troubleTicketGetResponse"/>
         <xs:complexType name="troubleTicketGetResponse">
            <xs:sequence>
               <xs:element name="troubleTicket" type="mod:TroubleTicket" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="troubleTicketFind" type="msg:troubleTicketFind">
            <xs:annotation>
               <xs:documentation source="public">This operation allows one to retrieve a list of trouble tickets, based on filtering criteria. Summary data is returned for each ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="troubleTicketFind">
            <xs:sequence>
               <xs:element name="status" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="severity" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="creationDateTime.gt" type="xs:dateTime" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="creationDateTime.lt" type="xs:dateTime" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="priority" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="relatedObject" type="mod:RelatedObject" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="troubleTicketFindResponse" type="msg:troubleTicketFindResponse"/>
         <xs:complexType name="troubleTicketFindResponse">
            <xs:sequence>
               <xs:element name="ticketSummary"
                           type="mod:TicketSummary"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="troubleTicketPatch" type="msg:troubleTicketPatch">
            <xs:annotation>
               <xs:documentation source="public">This operation is used to partially update a trouble ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="troubleTicketPatch">
            <xs:sequence>
               <xs:element name="troubleTicketId" type="xs:string"/>
               <xs:element name="troubleTicket" type="mod:UpdateTicket" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="troubleTicketPatchResponse" type="msg:troubleTicketPatchResponse"/>
         <xs:complexType name="troubleTicketPatchResponse">
            <xs:sequence>
               <xs:element name="troubleTicket" type="mod:TroubleTicket" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubCreate" type="msg:hubCreate"/>
         <xs:complexType name="hubCreate">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="1"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubCreateResponse" type="msg:hubCreateResponse"/>
         <xs:complexType name="hubCreateResponse">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubGet" type="msg:hubGet"/>
         <xs:complexType name="hubGet">
            <xs:sequence>
               <xs:element name="hubId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubGetResponse" type="msg:hubGetResponse"/>
         <xs:complexType name="hubGetResponse">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubFind" type="msg:hubFind"/>
         <xs:complexType name="hubFind">
            <xs:sequence/>
         </xs:complexType>
         <xs:element name="hubFindResponse" type="msg:hubFindResponse"/>
         <xs:complexType name="hubFindResponse">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubDelete" type="msg:hubDelete"/>
         <xs:complexType name="hubDelete">
            <xs:sequence>
               <xs:element name="hubId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubDeleteResponse" type="msg:hubDeleteResponse"/>
         <xs:complexType name="hubDeleteResponse">
            <xs:sequence/>
         </xs:complexType>
         <xs:element name="faultCode400" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode401" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode404" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode422" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode500" type="mod:ErrorRepresentation"/>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="troubleTicketCreate">
      <wsdl:part name="parameters" element="msg:troubleTicketCreate"/>
   </wsdl:message>
   <wsdl:message name="troubleTicketCreateResponse">
      <wsdl:part name="parameters" element="msg:troubleTicketCreateResponse"/>
   </wsdl:message>
   <wsdl:message name="troubleTicketGet">
      <wsdl:part name="parameters" element="msg:troubleTicketGet"/>
   </wsdl:message>
   <wsdl:message name="troubleTicketGetResponse">
      <wsdl:part name="parameters" element="msg:troubleTicketGetResponse"/>
   </wsdl:message>
   <wsdl:message name="troubleTicketFind">
      <wsdl:part name="parameters" element="msg:troubleTicketFind"/>
   </wsdl:message>
   <wsdl:message name="troubleTicketFindResponse">
      <wsdl:part name="parameters" element="msg:troubleTicketFindResponse"/>
   </wsdl:message>
   <wsdl:message name="troubleTicketPatch">
      <wsdl:part name="parameters" element="msg:troubleTicketPatch"/>
   </wsdl:message>
   <wsdl:message name="troubleTicketPatchResponse">
      <wsdl:part name="parameters" element="msg:troubleTicketPatchResponse"/>
   </wsdl:message>
   <wsdl:message name="hubCreate">
      <wsdl:part name="parameters" element="msg:hubCreate"/>
   </wsdl:message>
   <wsdl:message name="hubCreateResponse">
      <wsdl:part name="parameters" element="msg:hubCreateResponse"/>
   </wsdl:message>
   <wsdl:message name="hubGet">
      <wsdl:part name="parameters" element="msg:hubGet"/>
   </wsdl:message>
   <wsdl:message name="hubGetResponse">
      <wsdl:part name="parameters" element="msg:hubGetResponse"/>
   </wsdl:message>
   <wsdl:message name="hubFind">
      <wsdl:part name="parameters" element="msg:hubFind"/>
   </wsdl:message>
   <wsdl:message name="hubFindResponse">
      <wsdl:part name="parameters" element="msg:hubFindResponse"/>
   </wsdl:message>
   <wsdl:message name="hubDelete">
      <wsdl:part name="parameters" element="msg:hubDelete"/>
   </wsdl:message>
   <wsdl:message name="hubDeleteResponse">
      <wsdl:part name="parameters" element="msg:hubDeleteResponse"/>
   </wsdl:message>
   <wsdl:message name="faultCode400">
      <wsdl:part name="fault" element="msg:faultCode400"/>
   </wsdl:message>
   <wsdl:message name="faultCode401">
      <wsdl:part name="fault" element="msg:faultCode401"/>
   </wsdl:message>
   <wsdl:message name="faultCode404">
      <wsdl:part name="fault" element="msg:faultCode404"/>
   </wsdl:message>
   <wsdl:message name="faultCode422">
      <wsdl:part name="fault" element="msg:faultCode422"/>
   </wsdl:message>
   <wsdl:message name="faultCode500">
      <wsdl:part name="fault" element="msg:faultCode500"/>
   </wsdl:message>
   <wsdl:portType name="troubleTicket">
      <wsdl:documentation>The scope of this API is to provide the ability for a Service Provider’s system to create and manage trouble tickets with Partner’s system, over an interface, related to Access E-Line products. The following operations are included in the scope of this project:
•	Create a new trouble ticket
•	Retrieve an existing trouble ticket(s)
•	Partial modification of an open trouble ticket
•	Close an open trouble ticket
•	Cancel an open trouble ticket
•	Trouble ticket related notifications.
Specifically, out of scope for this release are the following operations:
•	Scheduled Maintenance &amp; Outages related notifications and management.</wsdl:documentation>
      <wsdl:operation name="troubleTicketCreate">
         <wsdl:documentation><!--                    
                        [public]This operation is used by the service provider to create a trouble ticket in the partner's ticketing system.--></wsdl:documentation>
         <wsdl:input name="troubleTicketCreateRequest" message="ws:troubleTicketCreate"/>
         <wsdl:output name="troubleTicketCreateResponse"
                      message="ws:troubleTicketCreateResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
      </wsdl:operation>
      <wsdl:operation name="troubleTicketGet">
         <wsdl:documentation><!--                    
                        [public]This operation is for the retrieval of a single trouble ticket based on a trouble ticket id.--></wsdl:documentation>
         <wsdl:input name="troubleTicketGetRequest" message="ws:troubleTicketGet"/>
         <wsdl:output name="troubleTicketGetResponse" message="ws:troubleTicketGetResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
      </wsdl:operation>
      <wsdl:operation name="troubleTicketFind">
         <wsdl:documentation><!--                    
                        [public]This operation allows one to retrieve a list of trouble tickets, based on filtering criteria. Summary data is returned for each ticket.--></wsdl:documentation>
         <wsdl:input name="troubleTicketFindRequest" message="ws:troubleTicketFind"/>
         <wsdl:output name="troubleTicketFindResponse" message="ws:troubleTicketFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
      </wsdl:operation>
      <wsdl:operation name="troubleTicketPatch">
         <wsdl:documentation><!--                    
                        [public]This operation is used to partially update a trouble ticket.--></wsdl:documentation>
         <wsdl:input name="troubleTicketPatchRequest" message="ws:troubleTicketPatch"/>
         <wsdl:output name="troubleTicketPatchResponse"
                      message="ws:troubleTicketPatchResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
      </wsdl:operation>
      <wsdl:operation name="hubCreate">
         <wsdl:input name="hubCreateRequest" message="ws:hubCreate"/>
         <wsdl:output name="hubCreateResponse" message="ws:hubCreateResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
      </wsdl:operation>
      <wsdl:operation name="hubGet">
         <wsdl:input name="hubGetRequest" message="ws:hubGet"/>
         <wsdl:output name="hubGetResponse" message="ws:hubGetResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
      </wsdl:operation>
      <wsdl:operation name="hubFind">
         <wsdl:input name="hubFindRequest" message="ws:hubFind"/>
         <wsdl:output name="hubFindResponse" message="ws:hubFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
      </wsdl:operation>
      <wsdl:operation name="hubDelete">
         <wsdl:input name="hubDeleteRequest" message="ws:hubDelete"/>
         <wsdl:output name="hubDeleteResponse" message="ws:hubDeleteResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="troubleTicket.soap11.binding" type="ws:troubleTicket">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="troubleTicketCreate">
         <soap:operation soapAction="http://orange.com/MEF/api/troubleTicket/v1/soap11/troubleTicketCreate"/>
         <wsdl:input name="troubleTicketCreateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="troubleTicketCreateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="troubleTicketGet">
         <soap:operation soapAction="http://orange.com/MEF/api/troubleTicket/v1/soap11/troubleTicketGet"/>
         <wsdl:input name="troubleTicketGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="troubleTicketGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="troubleTicketFind">
         <soap:operation soapAction="http://orange.com/MEF/api/troubleTicket/v1/soap11/troubleTicketFind"/>
         <wsdl:input name="troubleTicketFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="troubleTicketFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="troubleTicketPatch">
         <soap:operation soapAction="http://orange.com/MEF/api/troubleTicket/v1/soap11/troubleTicketPatch"/>
         <wsdl:input name="troubleTicketPatchRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="troubleTicketPatchResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubCreate">
         <soap:operation soapAction="http://orange.com/MEF/api/troubleTicket/v1/soap11/hubCreate"/>
         <wsdl:input name="hubCreateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubCreateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubGet">
         <soap:operation soapAction="http://orange.com/MEF/api/troubleTicket/v1/soap11/hubGet"/>
         <wsdl:input name="hubGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubFind">
         <soap:operation soapAction="http://orange.com/MEF/api/troubleTicket/v1/soap11/hubFind"/>
         <wsdl:input name="hubFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubDelete">
         <soap:operation soapAction="http://orange.com/MEF/api/troubleTicket/v1/soap11/hubDelete"/>
         <wsdl:input name="hubDeleteRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubDeleteResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="troubleTicket">
      <wsdl:documentation>Service: troubleTicket
            Version: 1.0.0_inProgress
            Owner: MEF
            Generated on: 2018-02-27T12:14:11.677Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
      <wsdl:port name="troubleTicket.soap11.port"
                 binding="ws:troubleTicket.soap11.binding">
         <soap:address location="http://localhost/changeIt"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
