experimental/api/R2/troubleTicket/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/MEF/api/troubleTicket/v1/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/MEF/api/troubleTicket/v1/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: troubleTicket
                    Version: 1.0.0_inProgress
                    Owner: MEF
                    Generated on: 2018-02-27T12:14:11.691Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="TicketStatusType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ACKNOWLEDGED"/>
         <xs:enumeration value="IN_PROGRESS"/>
         <xs:enumeration value="RESOLVED"/>
         <xs:enumeration value="CLOSED"/>
         <xs:enumeration value="PENDING"/>
         <xs:enumeration value="CANCELLED"/>
         <xs:enumeration value="CLEARANCE_REJECTED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TroubleSeverity">
      <xs:restriction base="xs:string">
         <xs:enumeration value="CRITICAL"/>
         <xs:enumeration value="MAJOR"/>
         <xs:enumeration value="MINOR"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RequestedStatusType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="CANCELLED"/>
         <xs:enumeration value="CLOSED"/>
         <xs:enumeration value="CLEARANCE_REJECTED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PriorityType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="CRITICAL"/>
         <xs:enumeration value="HIGH"/>
         <xs:enumeration value="MEDIUM"/>
         <xs:enumeration value="LOW"/>
         <xs:enumeration value="NA"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TroubleType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="INSTALLATION"/>
         <xs:enumeration value="MAINTENANCE"/>
         <xs:enumeration value="FAILURE"/>
         <xs:enumeration value="ASSISTANCE"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ErrorRepresentation" type="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public">Structure to describe Error</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public">Structure to describe Error</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Application related code (as defined in the API or from a common list)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Text that explains the reason for error. This can be shown to a client user.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="message" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Text that provide more details and corrective actions related to the error. This can be shown to a client user.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">http error code extension like 400-2</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceError" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">url pointing to documentation describing the error</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The class type of a REST resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">it provides a link to the schema describing a REST resource</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Note" type="Note">
      <xs:annotation>
         <xs:documentation source="public">Notes may be attached to the trouble ticket.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Note">
      <xs:annotation>
         <xs:documentation source="public">Notes may be attached to the trouble ticket.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="date" type="xs:date" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The date and the time the note was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="author" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The author of the note.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="text" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The text of the note.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RelatedObject" type="RelatedObject">
      <xs:annotation>
         <xs:documentation source="public">An object that is related to the trouble ticket such as a bill, a product, etc. The entity against which the ticket is associated.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RelatedObject">
      <xs:annotation>
         <xs:documentation source="public">An object that is related to the trouble ticket such as a bill, a product, etc. The entity against which the ticket is associated.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="involvement" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The involvement of the related object in relation to the trouble ticket. For example, it may be a "ProductInventory" or "Bill" involvement.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reference" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A reference to the related object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TroubleTicket" type="TroubleTicket">
      <xs:annotation>
         <xs:documentation source="public">A trouble ticket is a record of an issue that is created, tracked, and managed by a trouble ticket management system.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="TroubleTicket">
      <xs:annotation>
         <xs:documentation source="public">A trouble ticket is a record of an issue that is created, tracked, and managed by a trouble ticket management system.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the trouble ticket that is set by the partner when the trouble ticket is created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">href of the trouble ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="externalId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional identifier coming from an external system. This is set by the Service Provider.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Description of the trouble.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="severity" type="TroubleSeverity" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The severity of the trouble. It can be CRITICAL, MAJOR, or MINOR. Default if not specified is MINOR.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="priority" type="PriorityType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The priority of the ticket. Example: CRITICAL, HIGH, MEDIUM, LOW.  The priority allows you to sort within a given severity.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="TroubleType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Type of trouble.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The date and time the ticket was created in the trouble ticket system.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="targetResolutionDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The targeted resolution date as specified by the partner.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="TicketStatusType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The status of the trouble ticket as set by the partner.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="resolutionDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The date and time the trouble ticket was resolved by the partner.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="note" type="Note" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The note(s) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The related party(ies) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedObject"
                     type="RelatedObject"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The related object(s) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusChange"
                     type="StatusChange"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The status change notifications that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="attachment"
                     type="Attachment"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">File(s) attached to the trouble ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@baseType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">BaseType of the ticket specialization resource is defined from this API  (must be troubleTicket if used).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Type  of the ticket if specialization is used</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Target a location where the resource extension are described.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RelatedParty" type="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public">A related party is a person or organization that is associated to the trouble ticket. Examples include: Originator, Owner, or Reviser.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public">A related party is a person or organization that is associated to the trouble ticket. Examples include: Originator, Owner, or Reviser.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The id of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The href of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@referredType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The role played by the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The name of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="emailAddress" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The email address of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="number" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The telephone number of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="numberExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The telephone number extension of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Hub" type="Hub">
      <xs:annotation>
         <xs:documentation source="public">Hubs are used in support of trouble ticket notifications. There is one hub per type of notification.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Hub">
      <xs:annotation>
         <xs:documentation source="public">Hubs are used in support of trouble ticket notifications. There is one hub per type of notification.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the hub</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="query" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Attribute selection and search criteria</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="callback" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Callback urn, for instance a url.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Attachment" type="Attachment">
      <xs:annotation>
         <xs:documentation source="public">A file attached to the trouble ticket.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Attachment">
      <xs:annotation>
         <xs:documentation source="public">A file attached to the trouble ticket.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the attachment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">href of the attachment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">File name of the attachment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="url" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The URL where the attachment is located.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="StatusChange" type="StatusChange">
      <xs:annotation>
         <xs:documentation source="public">Holds the status notification reasons and associated date the status changed.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="StatusChange">
      <xs:annotation>
         <xs:documentation source="public">Holds the status notification reasons and associated date the status changed.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="statusValue" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The value to which the status changed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusChangeReason" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The reason why the status changed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusChangeDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The date and time the status changed.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CreateTicket" type="CreateTicket">
      <xs:annotation>
         <xs:documentation source="public">Used when creating a trouble ticket.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="CreateTicket">
      <xs:annotation>
         <xs:documentation source="public">Used when creating a trouble ticket.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="externalId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional identifier coming from an external system. This is set by the Service Provider.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Description of the trouble.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="severity" type="TroubleSeverity" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The severity of the trouble. It can be CRITICAL, MAJOR, or MINOR. Default if not specified is MINOR.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="TroubleType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The type of trouble.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="priority" type="PriorityType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The priority of the ticket. Example: CRITICAL, HIGH, MEDIUM, LOW.  The priority allows you to sort within a given severity.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The related party(ies) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedObject"
                     type="RelatedObject"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The related object(s) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="note" type="Note" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The note(s) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="attachment"
                     type="Attachment"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">File(s) attached to the trouble ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@baseType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="UpdateTicket" type="UpdateTicket">
      <xs:annotation>
         <xs:documentation source="public">Used when partially updating a trouble ticket, or in the closing or canceling of a trouble ticket.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="UpdateTicket">
      <xs:annotation>
         <xs:documentation source="public">Used when partially updating a trouble ticket, or in the closing or canceling of a trouble ticket.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="externalId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional identifier coming from an external system. This is set by the Service Provider.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Description of the trouble.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="TroubleType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The type of trouble.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedStatus" type="RequestedStatusType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The status that the service provider is requesting the ticket to be put into. The only valid values are "CANCELLED" ,"CLOSED", and "CLEARANCE_REJECTED".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The related party(ies) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedObject"
                     type="RelatedObject"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The related object(s) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="note" type="Note" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The note(s) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="attachment"
                     type="Attachment"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">File(s) attached to the trouble ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@baseType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TicketSummary" type="TicketSummary">
      <xs:annotation>
         <xs:documentation source="public">The structure of the summary view of trouble tickets returned from a find trouble ticket request.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="TicketSummary">
      <xs:annotation>
         <xs:documentation source="public">The structure of the summary view of trouble tickets returned from a find trouble ticket request.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the trouble ticket that is set by the partner when the trouble ticket is created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">href of the trouble ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="severity" type="TroubleSeverity" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The severity of the trouble. It can be CRITICAL, MAJOR, or MINOR. Default if not specified is MINOR.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The date and time the ticket was created in the trouble ticket system.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="targetResolutionDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The targeted resolution date as specified by the partner.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="TicketStatusType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The status of the trouble ticket as set by the partner.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="resolutionDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The date and time the trouble ticket was resolved by the partner.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="priority" type="PriorityType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The priority of the ticket. Example: CRITICAL, HIGH, MEDIUM, LOW.  The priority allows you to sort within a given severity.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedObject"
                     type="RelatedObject"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The related object(s) that are associated to the ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
