experimental/api/address/api[1].wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ws="http://orange.com/MEF/api/address/v0/soap11"
                  xmlns:msg="http://orange.com/MEF/api/address/v0/message"
                  xmlns:mod="http://orange.com/MEF/api/address/v0/model"
                  name="address"
                  targetNamespace="http://orange.com/MEF/api/address/v0/soap11">
   <wsdl:documentation>Service: address
            Version: 0.1.0_inProgress
            Owner: MEF
            Generated on: 2017-07-25T20:56:03.445Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://orange.com/MEF/api/address/v0/message">
         <xs:import schemaLocation="model.xsd"
                    namespace="http://orange.com/MEF/api/address/v0/model"/>
         <xs:element name="addressGet" type="msg:addressGet">
            <xs:annotation>
               <xs:documentation source="public">Retrieves an address using its unique ID. This ID should be retrieve either using the address completion process (cf. completion), or in another API of the ecosystem (party, appointment, etc.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="addressGet">
            <xs:sequence>
               <xs:element name="addressId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="addressGetResponse" type="msg:addressGetResponse"/>
         <xs:complexType name="addressGetResponse">
            <xs:sequence>
               <xs:element name="geographicAddress" type="mod:GeographicAddress" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="addressValidationCreate" type="msg:addressValidationCreate">
            <xs:annotation>
               <xs:documentation source="public">This operation creates an address validation request.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="addressValidationCreate">
            <xs:sequence>
               <xs:element name="addressValidationRequest"
                           type="mod:AddressValidationRequest"
                           minOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="addressValidationCreateResponse"
                     type="msg:addressValidationCreateResponse"/>
         <xs:complexType name="addressValidationCreateResponse">
            <xs:sequence>
               <xs:element name="addressValidation" type="mod:AddressValidation" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="addressValidationFind" type="msg:addressValidationFind">
            <xs:annotation>
               <xs:documentation source="public">This operation retrieves a list of address validation entity.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="addressValidationFind">
            <xs:sequence>
               <xs:element name="status" type="xs:string" minOccurs="0"/>
               <xs:element name="validationDate" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="addressValidationFindResponse"
                     type="msg:addressValidationFindResponse"/>
         <xs:complexType name="addressValidationFindResponse">
            <xs:sequence>
               <xs:element name="addressValidationFindResponse"
                           type="mod:AddressValidationFindResponse"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="addressValidationGet" type="msg:addressValidationGet">
            <xs:annotation>
               <xs:documentation source="public">This operation allows to retrieve an existing address validation using its Id.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="addressValidationGet">
            <xs:sequence>
               <xs:element name="addressValidationId" type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="addressValidationGetResponse"
                     type="msg:addressValidationGetResponse"/>
         <xs:complexType name="addressValidationGetResponse">
            <xs:sequence>
               <xs:element name="addressValidation" type="mod:AddressValidation" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="addressGet">
      <wsdl:part name="parameters" element="msg:addressGet"/>
   </wsdl:message>
   <wsdl:message name="addressGetResponse">
      <wsdl:part name="parameters" element="msg:addressGetResponse"/>
   </wsdl:message>
   <wsdl:message name="addressValidationCreate">
      <wsdl:part name="parameters" element="msg:addressValidationCreate"/>
   </wsdl:message>
   <wsdl:message name="addressValidationCreateResponse">
      <wsdl:part name="parameters" element="msg:addressValidationCreateResponse"/>
   </wsdl:message>
   <wsdl:message name="addressValidationFind">
      <wsdl:part name="parameters" element="msg:addressValidationFind"/>
   </wsdl:message>
   <wsdl:message name="addressValidationFindResponse">
      <wsdl:part name="parameters" element="msg:addressValidationFindResponse"/>
   </wsdl:message>
   <wsdl:message name="addressValidationGet">
      <wsdl:part name="parameters" element="msg:addressValidationGet"/>
   </wsdl:message>
   <wsdl:message name="addressValidationGetResponse">
      <wsdl:part name="parameters" element="msg:addressValidationGetResponse"/>
   </wsdl:message>
   <wsdl:portType name="address">
      <wsdl:documentation/>
      <wsdl:operation name="addressGet">
         <wsdl:documentation><!--                    
                        [public]Retrieves an address using its unique ID. This ID should be retrieve either using the address completion process (cf. completion), or in another API of the ecosystem (party, appointment, etc.)--></wsdl:documentation>
         <wsdl:input name="addressGetRequest" message="ws:addressGet"/>
         <wsdl:output name="addressGetResponse" message="ws:addressGetResponse"/>
      </wsdl:operation>
      <wsdl:operation name="addressValidationCreate">
         <wsdl:documentation><!--                    
                        [public]This operation creates an address validation request.--></wsdl:documentation>
         <wsdl:input name="addressValidationCreateRequest"
                     message="ws:addressValidationCreate"/>
         <wsdl:output name="addressValidationCreateResponse"
                      message="ws:addressValidationCreateResponse"/>
      </wsdl:operation>
      <wsdl:operation name="addressValidationFind">
         <wsdl:documentation><!--                    
                        [public]This operation retrieves a list of address validation entity.--></wsdl:documentation>
         <wsdl:input name="addressValidationFindRequest" message="ws:addressValidationFind"/>
         <wsdl:output name="addressValidationFindResponse"
                      message="ws:addressValidationFindResponse"/>
      </wsdl:operation>
      <wsdl:operation name="addressValidationGet">
         <wsdl:documentation><!--                    
                        [public]This operation allows to retrieve an existing address validation using its Id.--></wsdl:documentation>
         <wsdl:input name="addressValidationGetRequest" message="ws:addressValidationGet"/>
         <wsdl:output name="addressValidationGetResponse"
                      message="ws:addressValidationGetResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="address.soap11.binding" type="ws:address">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="addressGet">
         <soap:operation soapAction="http://orange.com/MEF/api/address/v0/soap11/addressGet"/>
         <wsdl:input name="addressGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="addressGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addressValidationCreate">
         <soap:operation soapAction="http://orange.com/MEF/api/address/v0/soap11/addressValidationCreate"/>
         <wsdl:input name="addressValidationCreateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="addressValidationCreateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addressValidationFind">
         <soap:operation soapAction="http://orange.com/MEF/api/address/v0/soap11/addressValidationFind"/>
         <wsdl:input name="addressValidationFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="addressValidationFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addressValidationGet">
         <soap:operation soapAction="http://orange.com/MEF/api/address/v0/soap11/addressValidationGet"/>
         <wsdl:input name="addressValidationGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="addressValidationGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="address">
      <wsdl:documentation>Service: address
            Version: 0.1.0_inProgress
            Owner: MEF
            Generated on: 2017-07-25T20:56:03.445Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
      <wsdl:port name="address.soap11.port" binding="ws:address.soap11.binding">
         <soap:address location="http://localhost/changeIt"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
