experimental/api/R1/address/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/MEF/api/address/v0/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/MEF/api/address/v0/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: address
                    Version: 0.1.0_inProgress
                    Owner: MEF
                    Generated on: 2017-07-25T20:56:03.435Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:element name="ZErrorDetail" type="ZErrorDetail"/>
   <xs:complexType name="ZErrorDetail">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1"/>
         <xs:element name="message" type="xs:string" minOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ZError" type="ZError"/>
   <xs:complexType name="ZError">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1"/>
         <xs:element name="message" type="xs:string" minOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
         <xs:element name="details"
                     type="ZErrorDetail"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeoPoint" type="GeoPoint">
      <xs:annotation>
         <xs:documentation source="public">A GeoPoint defines a geographic point through coordinates.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeoPoint">
      <xs:annotation>
         <xs:documentation source="public">A GeoPoint defines a geographic point through coordinates.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="spatialRef" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Geocoding referential</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="x" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">x coordinate (usually latitude)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="y" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">y coordinate (usually longitude)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeoLocation" type="GeoLocation">
      <xs:annotation>
         <xs:documentation source="public">A GeoLocation allows describing through coordinate(s) a point, a line or a space</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeoLocation">
      <xs:annotation>
         <xs:documentation source="public">A GeoLocation allows describing through coordinate(s) a point, a line or a space</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="geoPoint"
                     type="GeoPoint"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A GeoPoint defines a geographic point through coordinates.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeoLocationRef" type="GeoLocationRef">
      <xs:annotation>
         <xs:documentation source="public">Reference a GeoLocation with an id and a href</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeoLocationRef">
      <xs:annotation>
         <xs:documentation source="public">Reference a GeoLocation with an id and a href</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Id of a GeoLocation</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Href pointing to the GeoLocation</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SubAddress" type="SubAddress">
      <xs:annotation>
         <xs:documentation source="public">It is used for addressing within a property in an urban area (country properties are often defined differently). It may refer to a building, a building cluster, or a floor of a multistory building.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SubAddress">
      <xs:annotation>
         <xs:documentation source="public">It is used for addressing within a property in an urban area (country properties are often defined differently). It may refer to a building, a building cluster, or a floor of a multistory building.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique Identifier of the subAddress</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="subUnitType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The type of subunit
e.g.BERTH, FLAT, PIER, SUITE, SHOP, TOWER, UNIT, WHARF.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="subUnitNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The discriminator used for the subunit
often just a simple number e.g. FLAT 5, may also be a range</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="levelType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Describes level types within a building</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="levelNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Used where a level type may be repeated e.g. BASEMENT 1, BASEMENT 2</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="buildingName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Allows for buildings that have well-known names</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="privateStreetNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Private streets numbers internal to a private street</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="privateStreetName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Private streets internal to a property (e.g. a university) may have internal names that are not recorded by the land title office</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0"/>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicAddress" type="GeographicAddress">
      <xs:annotation>
         <xs:documentation source="public">An address is a structured textual way of describing how to find a Property in an urban area (country properties are often defined differently)</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicAddress">
      <xs:annotation>
         <xs:documentation source="public">An address is a structured textual way of describing how to find a Property in an urban area (country properties are often defined differently)</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the address</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNr" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Number identifying a specific property on a public street. It may be combined with streetNrLast for ranged addresses</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The first street number suffix</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrLast" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Last number in a range of street numbers allocated to a property</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrLastSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Last street number suffix for a ranged address</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the street or other street type</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Alley, avenue, boulevard, brae, crescent, drive, highway, lane, terrace, parade, place, tarn, way, wharf</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A modifier denoting a relative direction</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postcode" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Descriptor for a postal delivery area, used to speed and simplify the delivery of mail (also known as zipcode)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="locality" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">"An area of defined or undefined boundaries within a local authority or other legislatively defined area, usually rural or semi-rural in nature." [ANZLIC-STREET], or a suburb "a bounded locality within a city, town or shire principally of urban character " [ANZLICSTREET].</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="city" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">City that the address is in</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="stateOrProvince" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The State or Province that the address is in</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="country" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Country that the address is in</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicLocation" type="GeoLocation" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="addrLine1" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="addrLine2" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="postCodeExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AddressValidation" type="AddressValidation">
      <xs:annotation>
         <xs:documentation source="public">Resource used to support a request for a validation address : check if an address described by values attributes exists)
If exist, id is provided
if not, alternate address(es) could be provided</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AddressValidation">
      <xs:annotation>
         <xs:documentation source="public">Resource used to support a request for a validation address : check if an address described by values attributes exists)
If exist, id is provided
if not, alternate address(es) could be provided</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the Address Validation</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Status of the address validation (inProgress, terminatedWithErrror, done).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="validationDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Date when the address validation is performed</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="validationResult" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Result of the address validation (success, partial, fail)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="provideaAlternative" type="xs:boolean" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Indicator provided by the requester to specify if alternate addresses must be provided in case of partial or fail result</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="validAddress" type="GeographicAddress" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">structure used to describe the address to be validated in the request and the address validated in the response</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="alternateAddress"
                     type="GeographicAddress"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">Structure used to describe alternate address(es) if requested address did not exist (close addresses are described there) or if several addresses match.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AddressValidationRequest" type="AddressValidationRequest">
      <xs:annotation>
         <xs:documentation source="public">Structure used to describe an address validation request</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AddressValidationRequest">
      <xs:annotation>
         <xs:documentation source="public">Structure used to describe an address validation request</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="provideaAlternative" type="xs:boolean" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Indicator provided by the requester to specify if alternate addresses must be provided in case of partial or fail result</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="validAddress" type="AddressRequestValidation" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">structure used to describe the address to be validated in the request and the address validated in the response</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AddressRequestValidation" type="AddressRequestValidation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AddressRequestValidation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="streetNr" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Number identifying a specific property on a public street. It may be combined with streetNrLast for ranged addresses</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The first street number suffix</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrLast" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Last number in a range of street numbers allocated to a property</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrLastSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Last street number suffix for a ranged address</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the street or other street type</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Alley, avenue, boulevard, brae, crescent, drive, highway, lane, terrace, parade, place, tarn, way, wharf</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A modifier denoting a relative direction</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postcode" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Descriptor for a postal delivery area, used to speed and simplify the delivery of mail (also known as zipcode)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="locality" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">"An area of defined or undefined boundaries within a local authority or other legislatively defined area, usually rural or semi-rural in nature." [ANZLIC-STREET], or a suburb "a bounded locality within a city, town or shire principally of urban character " [ANZLICSTREET].</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="city" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">City that the address is in</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="stateOrProvince" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The State or Province that the address is in</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="country" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Country that the address is in</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geoLocationRef" type="GeoLocationRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A geo location reference</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geoLocation" type="GeoLocation" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A GeoLocation allows describing through coordinate(s) a point, a line or a space</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AddressValidationFindRequest" type="AddressValidationFindRequest">
      <xs:annotation>
         <xs:documentation source="public">This class is used for request addressValidation search</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AddressValidationFindRequest">
      <xs:annotation>
         <xs:documentation source="public">This class is used for request addressValidation search</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="status" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Status of the address validation (inProgress, terminatedWithErrror, done).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="validationDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Date when the address validation is performed</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AddressValidationFindResponse"
               type="AddressValidationFindResponse">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AddressValidationFindResponse">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the Address Validation</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Status of the address validation (inProgress, terminatedWithErrror, done).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="validationDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Date when the address validation is performed</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
