experimental/api/productOrder/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/MEF/api/productOrder/v0/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/MEF/api/productOrder/v0/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: productOrder
                    Version: 0.1.1_inProgress
                    Owner: MEF
                    Generated on: 2017-07-25T20:55:53.565Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="PriorityType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="0"/>
         <xs:enumeration value="1"/>
         <xs:enumeration value="2"/>
         <xs:enumeration value="3"/>
         <xs:enumeration value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ActionType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="add"/>
         <xs:enumeration value="modify"/>
         <xs:enumeration value="noChange"/>
         <xs:enumeration value="delete"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StateType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="acknowledge"/>
         <xs:enumeration value="inProgress"/>
         <xs:enumeration value="cancelled"/>
         <xs:enumeration value="completed"/>
         <xs:enumeration value="rejected"/>
         <xs:enumeration value="pending"/>
         <xs:enumeration value="held"/>
         <xs:enumeration value="failed"/>
         <xs:enumeration value="partial"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelationShipType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="reliesOn"/>
         <xs:enumeration value="brings"/>
         <xs:enumeration value="hasParent"/>
         <xs:enumeration value="hasChild"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PriceType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="recuring"/>
         <xs:enumeration value="oneTime"/>
         <xs:enumeration value="usage"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="OrderActivity">
      <xs:restriction base="xs:string">
         <xs:enumeration value="install"/>
         <xs:enumeration value="change"/>
         <xs:enumeration value="disconnect"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="desiredResponse">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Confirmation and Engineering"/>
         <xs:enumeration value="Confirmation"/>
         <xs:enumeration value="None"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="pricingMethod">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Tariff"/>
         <xs:enumeration value="Contract"/>
         <xs:enumeration value="Individual Case Basis"/>
         <xs:enumeration value="Other"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ZErrorDetail" type="ZErrorDetail">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ZErrorDetail">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="message" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="infoURL" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ZError" type="ZError">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ZError">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="message" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="infoURL" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="details"
                     type="ZErrorDetail"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="BillingAccountRef" type="BillingAccountRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BillingAccountRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the billing account</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOfferingRef" type="ProductOfferingRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOfferingRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOrder" type="ProductOrder">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOrder">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">ID created on repository side (OM system)
MEF: Unique identifier for the order that is generated by the Seller when the order is initially accepted via an API.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="externalId" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">ID given by the consumer and only understandable by him (to facilitate his searches afterwards).
MEF: Buyer Purchase Order Number</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Date when the order was created</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="state" type="StateType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Tracks the lifecycle status of the product order, such as Acknowledged, Rejected, InProgress, Pending and so on
MEF: to be seen if Desired Response could be managed through state (9)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedStartDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Order start date wished by the requestor
MEF: If specified, identifies the Buyer's desired date for order processing to start.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedCompletionDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Requested delivery date from the requestor perspective</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="completionDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Date when the order was completed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="expeditePriority" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Indicates that expedited treatment is requested and any charges generated in provisioning this request (e.g., additional engineering charges or labor charges if applicable) will be accepted</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderActivity" type="OrderActivity" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">MEF: The type of order, as defined by the business (e.g., install, change, disconnect)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="desiredResponses" type="desiredResponse" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">MEF: The type of order responses that the buyer wishes to receive from the seller</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="version" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">MEF: The version number that the Buyer uses to refer to this particular version of the order</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="projectId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">An identifier that is used to group Orders that represent a unit of functionality that is important to a Buyer. A Project can be used to relate multiple Orders together.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="tspRestorationPriority" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Within the United States, indicates the provisioning and restoration priority as defined under the TSP Service Vendor Handbook</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="note" type="Note" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Extra information about the product order</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItem"
                     type="OrderItem"
                     minOccurs="1"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">An identified part of the order. A product order is decomposed into one or more order item</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Note" type="Note">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Note">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="text" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Texte of the note</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="date" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Date of the note</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="author" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Author of the note</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="OrderItem" type="OrderItem">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="OrderItem">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="action" type="ActionType" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Can be "add" / "modify" / "no_change"/ "delete"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="state" type="StateType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">State of the order item : described in the state machine diagram</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="billingAccount" type="BillingAccountRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the billing account where to bill the charges</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productOffering" type="ProductOffering" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A product offering reference (ProductOfferingRef). A product offering represents entities that are orderable from the provider of the catalog, this resource includes pricing information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="Product" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItemRelationship"
                     type="OrderItemRelationShip"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="qualificationRef"
                     type="RelatedQualification"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">Used to refer serviceability request done previously.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingMethod" type="pricingMethod" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The pricing authority to be used to price the products on this order. Choice of Tariff, Contract, Individual Case Basis (ICB), Other</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingReference" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The value associated with the Pricing Method selected (e.g. a contract or tariff id)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingTerm" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The length of the contract in months</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOffering" type="ProductOffering">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOffering">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">MEF: Promotion ID (39)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Product" type="Product">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Product">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="productSpecification"
                     type="ProductSpecification"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicAddress"
                     type="GeographicAddress"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicLocation"
                     type="GeographicLocation"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="site" type="Site" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="productRelationship"
                     type="ProductRelationship"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="OrderItemRelationShip" type="OrderItemRelationShip">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="OrderItemRelationShip">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="type" type="RelationShipType" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductRelationship" type="ProductRelationship">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductRelationship">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="type" type="RelationShipType" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="ProductRef" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductRef" type="ProductRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RelatedQualification" type="RelatedQualification">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RelatedQualification">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="qualificationItem" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RelatedParty" type="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of a related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Name of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">MEF: could be "Buyer", "Seller", "Billing Contact", "Order Contact", "Implementation Contact", "Technical Contact", "UNI Site Contact", "UNI Alt Site Contact", "ENNI Site Contact", "ENNI Alt Site Contact"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="numberExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">MEF Extension</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="number" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Phone number  of the related party</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="emailAddress" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Email address of the related party</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOrderCreateIN" type="ProductOrderCreateIN">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOrderCreateIN">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="externalId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedCompletionDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedStartDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="expeditePriority" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderActivity" type="OrderActivity" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="desiredResponse" type="desiredResponse" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="version" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="projectId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="tspRestorationPriority" type="xs:string" minOccurs="0"/>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="note" type="Note" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItem"
                     type="OrderItemCreateIn"
                     minOccurs="1"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductSpecification" type="ProductSpecification">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductSpecification">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="describing" type="Describing" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicSubAddress" type="GeographicSubAddress">
      <xs:annotation>
         <xs:documentation source="public">It is used for addressing within a property in an urban area (country properties are often defined differently). It may refer to a building, a building cluster, or a floor of a multistory building.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicSubAddress">
      <xs:annotation>
         <xs:documentation source="public">It is used for addressing within a property in an urban area (country properties are often defined differently). It may refer to a building, a building cluster, or a floor of a multistory building.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique Identifier of the subAddress</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="subUnitType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The type of subunit
e.g.BERTH, FLAT, PIER, SUITE, SHOP, TOWER, UNIT, WHARF.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="subUnitNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The discriminator used for the subUnit
often just a simple number e.g. FLAT 5, may also be a range.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="levelType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Describes level types within a building</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="levelNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Used where a level type may be repeated e.g. BASEMENT 1, BASEMENT 2.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="buildingName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Allows for buildings that have well-known names.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="privateStreetNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Private streets numbers internal to a private street.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="privateStreetName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Private streets internal to a property (e.g. a university) may have internal names that are not recorded by the land title office.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicPoint" type="GeographicPoint">
      <xs:annotation>
         <xs:documentation source="public">A GeographicPoint defines a geographic point through coordinates</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicPoint">
      <xs:annotation>
         <xs:documentation source="public">A GeographicPoint defines a geographic point through coordinates</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="spatialRef" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Geocoding referential.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="x" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">x coordinate (usually latitude).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="y" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">y coordinate (usually longitude).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicLocation" type="GeographicLocation">
      <xs:annotation>
         <xs:documentation source="public">A GeographicLocation allows describing through coordinate(s) a point, a line or a space</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicLocation">
      <xs:annotation>
         <xs:documentation source="public">A GeographicLocation allows describing through coordinate(s) a point, a line or a space</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="role" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicPoint" type="GeographicPoint" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A GeoPoint defines a geographic point through coordinates.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Site" type="Site">
      <xs:annotation>
         <xs:documentation source="public">A site is a place that has (existing, planned or former) physical things or characteristics of interest to the service provider.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Site">
      <xs:annotation>
         <xs:documentation source="public">A site is a place that has (existing, planned or former) physical things or characteristics of interest to the service provider.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of a site</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="siteCompanyName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The name of the company that is located at the Service location. This may be different from the name of the Buyer that ordered services at that Service Site.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="siteCustomerName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A name by which the service site is known.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="additionalSiteInformation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional information about the Site or special delivery information. Free-form text input.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="siteDescription" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A description for the service site</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicAddress" type="GeographicAddress">
      <xs:annotation>
         <xs:documentation source="public">Structured textual way of describing how to find a Property in an urban area (country properties are often
defined differently).
Defined in the Carrier Ethernet Ordering as a FieldedAddress. TMF extension adds FormattedAddressLine1 and FormattedAddressLine2 attributes for FormattedAddress</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicAddress">
      <xs:annotation>
         <xs:documentation source="public">Structured textual way of describing how to find a Property in an urban area (country properties are often
defined differently).
Defined in the Carrier Ethernet Ordering as a FieldedAddress. TMF extension adds FormattedAddressLine1 and FormattedAddressLine2 attributes for FormattedAddress</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the address.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNr" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Number identifying a specific property on a public street. It may be combined with streetNrLast for ranged addresses.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The first street number suffix</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrLast" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Last number in a range of street numbers allocated to a property</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrLastSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Last street number suffix for a ranged address.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the street or other street type</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Alley, avenue, boulevard, brae, crescent, drive, highway, lane, terrace, parade, place, tarn, way, wharf.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A modifier denoting a relative direction</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="locality" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">"An area of defined or undefined boundaries within a local authority or other legislatively defined area, usually rural or semi-rural in nature." [ANZLIC-STREET], or a suburb "a bounded locality within a city, town or shire principally of urban character " [ANZLICSTREET].</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="city" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">City that the address is in.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postcode" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Descriptor for a postal delivery area, used to speed and simplify the delivery of mail (also known as zipcode).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="stateOrProvince" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The State or Province that the address is in.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postalCodeExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">MEF Extension: The four-digit extension on an American postal code, what comes after the hyphen when specified.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="country" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Country that the address is in.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicSubAddress"
                     type="GeographicSubAddress"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Representation of a SubAddress 
It is used for addressing within a property in an urban area (country properties are often defined differently). It may refer to a building, a building cluster, or a floor of a multistory building.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="formattedAddressLine1" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">MEF Extension: A formatted address line that contains a non-fielded street address.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="formattedAddressLine2" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">MEF Extension: A formatted address line that contains a non-fielded street address, sub-address (e.g. Suite number), etc</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Describing" type="Describing">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Describing">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="@type" type="xs:string" minOccurs="0"/>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="OrderItemCreateIn" type="OrderItemCreateIn">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="OrderItemCreateIn">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="action" type="ActionType" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Can be "add" / "modify" / "no_change"/ "delete"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="billingAccount" type="BillingAccountRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the billing account where to bill the charges</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productOffering" type="ProductOffering" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A product offering reference (ProductOfferingRef). A product offering represents entities that are orderable from the provider of the catalog, this resource includes pricing information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="Product" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItemRelationship"
                     type="OrderItemRelationShip"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="qualificationRef"
                     type="RelatedQualification"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">Used to refer serviceability request done previously.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingMethod" type="pricingMethod" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The pricing authority to be used to price the products on this order. Choice of Tariff, Contract, Individual Case Basis (ICB), Other</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingReference" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The value associated with the Pricing Method selected (e.g. a contract or tariff id)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingTerm" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The length of the contract in months</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOrderFindResp" type="ProductOrderFindResp">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOrderFindResp">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">ID created on repository side (OM system)
MEF: Unique identifier for the order that is generated by the Seller when the order is initially accepted via an API.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="externalId" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">ID given by the consumer and only understandable by him (to facilitate his searches afterwards).
MEF: Buyer Purchase Order Number</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Date when the order was created</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="state" type="StateType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Tracks the lifecycle status of the product order, such as Acknowledged, Rejected, InProgress, Pending and so on
MEF: to be seen if Desired Response could be managed through state (9)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedCompletionDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Requested delivery date from the requestor perspective</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="projectId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">An identifier that is used to group Orders that represent a unit of functionality that is important to a Buyer. A Project can be used to relate multiple Orders together.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
