experimental/api/R2/productOrder/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ws="http://orange.com/MEF/api/productOrder/v2/soap11"
                  xmlns:msg="http://orange.com/MEF/api/productOrder/v2/message"
                  xmlns:mod="http://orange.com/MEF/api/productOrder/v2/model"
                  name="productOrder"
                  targetNamespace="http://orange.com/MEF/api/productOrder/v2/soap11">
   <wsdl:documentation>Service: productOrder
            Version: 2.0.0_inProgress
            Owner: MEF
            Generated on: 2018-02-27T12:08:19.713Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://orange.com/MEF/api/productOrder/v2/message">
         <xs:import schemaLocation="model.xsd"
                    namespace="http://orange.com/MEF/api/productOrder/v2/model"/>
         <xs:element name="productOrderCreate" type="msg:productOrderCreate">
            <xs:annotation>
               <xs:documentation source="public">This operation is used to create an order. Depending on the order activity, one can "INSTALL", "CHANGE", or "DISCONNECT" an associated product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productOrderCreate">
            <xs:sequence>
               <xs:element name="productOrder" type="mod:CreateProductOrder" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderCreateResponse" type="msg:productOrderCreateResponse"/>
         <xs:complexType name="productOrderCreateResponse">
            <xs:sequence>
               <xs:element name="productOrder" type="mod:ProductOrder" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderGet" type="msg:productOrderGet">
            <xs:annotation>
               <xs:documentation source="public">This operation is used to retrieve a single product order based upon a specified product order id.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productOrderGet">
            <xs:sequence>
               <xs:element name="productOrderId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderGetResponse" type="msg:productOrderGetResponse"/>
         <xs:complexType name="productOrderGetResponse">
            <xs:sequence>
               <xs:element name="productOrder" type="mod:ProductOrder" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderFind" type="msg:productOrderFind">
            <xs:annotation>
               <xs:documentation source="public">This operation is used to retrieve one or more product orders based upon filter criteria specified on input.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productOrderFind">
            <xs:sequence>
               <xs:element name="externalId" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="orderDate" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="state" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="requestedCompletionDate" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="projectId" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderFindResponse" type="msg:productOrderFindResponse"/>
         <xs:complexType name="productOrderFindResponse">
            <xs:sequence>
               <xs:element name="productOrderSummary"
                           type="mod:ProductOrderSummary"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderCancel" type="msg:productOrderCancel">
            <xs:annotation>
               <xs:documentation source="public">Request to cancel an order submitted by the buyer
Seller answer with order state (could be CANCELLED, ASSESSING_CANCELLATION or previous order state if seller did not accept cancellation request).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productOrderCancel">
            <xs:sequence>
               <xs:element name="productOrderId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderCancelResponse" type="msg:productOrderCancelResponse"/>
         <xs:complexType name="productOrderCancelResponse">
            <xs:sequence>
               <xs:element name="cancelOrderResponse"
                           type="mod:CancelOrderResponse"
                           minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubCreate" type="msg:hubCreate"/>
         <xs:complexType name="hubCreate">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="1"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubCreateResponse" type="msg:hubCreateResponse"/>
         <xs:complexType name="hubCreateResponse">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubFind" type="msg:hubFind"/>
         <xs:complexType name="hubFind">
            <xs:sequence/>
         </xs:complexType>
         <xs:element name="hubFindResponse" type="msg:hubFindResponse"/>
         <xs:complexType name="hubFindResponse">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubGet" type="msg:hubGet"/>
         <xs:complexType name="hubGet">
            <xs:sequence>
               <xs:element name="hubId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubGetResponse" type="msg:hubGetResponse"/>
         <xs:complexType name="hubGetResponse">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubDelete" type="msg:hubDelete"/>
         <xs:complexType name="hubDelete">
            <xs:sequence>
               <xs:element name="hubId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubDeleteResponse" type="msg:hubDeleteResponse"/>
         <xs:complexType name="hubDeleteResponse">
            <xs:sequence/>
         </xs:complexType>
         <xs:element name="faultCode400" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode401" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode403" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode404" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode405" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode408" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode422" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode500" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode503" type="mod:ErrorRepresentation"/>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="productOrderCreate">
      <wsdl:part name="parameters" element="msg:productOrderCreate"/>
   </wsdl:message>
   <wsdl:message name="productOrderCreateResponse">
      <wsdl:part name="parameters" element="msg:productOrderCreateResponse"/>
   </wsdl:message>
   <wsdl:message name="productOrderGet">
      <wsdl:part name="parameters" element="msg:productOrderGet"/>
   </wsdl:message>
   <wsdl:message name="productOrderGetResponse">
      <wsdl:part name="parameters" element="msg:productOrderGetResponse"/>
   </wsdl:message>
   <wsdl:message name="productOrderFind">
      <wsdl:part name="parameters" element="msg:productOrderFind"/>
   </wsdl:message>
   <wsdl:message name="productOrderFindResponse">
      <wsdl:part name="parameters" element="msg:productOrderFindResponse"/>
   </wsdl:message>
   <wsdl:message name="productOrderCancel">
      <wsdl:part name="parameters" element="msg:productOrderCancel"/>
   </wsdl:message>
   <wsdl:message name="productOrderCancelResponse">
      <wsdl:part name="parameters" element="msg:productOrderCancelResponse"/>
   </wsdl:message>
   <wsdl:message name="hubCreate">
      <wsdl:part name="parameters" element="msg:hubCreate"/>
   </wsdl:message>
   <wsdl:message name="hubCreateResponse">
      <wsdl:part name="parameters" element="msg:hubCreateResponse"/>
   </wsdl:message>
   <wsdl:message name="hubFind">
      <wsdl:part name="parameters" element="msg:hubFind"/>
   </wsdl:message>
   <wsdl:message name="hubFindResponse">
      <wsdl:part name="parameters" element="msg:hubFindResponse"/>
   </wsdl:message>
   <wsdl:message name="hubGet">
      <wsdl:part name="parameters" element="msg:hubGet"/>
   </wsdl:message>
   <wsdl:message name="hubGetResponse">
      <wsdl:part name="parameters" element="msg:hubGetResponse"/>
   </wsdl:message>
   <wsdl:message name="hubDelete">
      <wsdl:part name="parameters" element="msg:hubDelete"/>
   </wsdl:message>
   <wsdl:message name="hubDeleteResponse">
      <wsdl:part name="parameters" element="msg:hubDeleteResponse"/>
   </wsdl:message>
   <wsdl:message name="faultCode400">
      <wsdl:part name="fault" element="msg:faultCode400"/>
   </wsdl:message>
   <wsdl:message name="faultCode401">
      <wsdl:part name="fault" element="msg:faultCode401"/>
   </wsdl:message>
   <wsdl:message name="faultCode403">
      <wsdl:part name="fault" element="msg:faultCode403"/>
   </wsdl:message>
   <wsdl:message name="faultCode404">
      <wsdl:part name="fault" element="msg:faultCode404"/>
   </wsdl:message>
   <wsdl:message name="faultCode405">
      <wsdl:part name="fault" element="msg:faultCode405"/>
   </wsdl:message>
   <wsdl:message name="faultCode408">
      <wsdl:part name="fault" element="msg:faultCode408"/>
   </wsdl:message>
   <wsdl:message name="faultCode422">
      <wsdl:part name="fault" element="msg:faultCode422"/>
   </wsdl:message>
   <wsdl:message name="faultCode500">
      <wsdl:part name="fault" element="msg:faultCode500"/>
   </wsdl:message>
   <wsdl:message name="faultCode503">
      <wsdl:part name="fault" element="msg:faultCode503"/>
   </wsdl:message>
   <wsdl:portType name="productOrder">
      <wsdl:documentation>The scope of this API for Phase I  was limited to the ability for a buyer to create an order for an Access E-Line (both port based and VLAN-based) Product, associated UNI CE Endpoint and ENNI CE Endpoint Products, and a stand-alone UNI product, via a Product Order over an interface between two communicating systems. The buyer could also retrieve a single, or set, of Product Orders based upon a specified filter.  
Phase II introduces the following capabilities to the API:
•	Change Order: change an existing Product
•	Disconnect Order:  disconnect an existing Product 
•	Cancel Order: cancellation of an inflight-order
•	Support for Order Notifications

Following feature will be introduced in next release:
•	Amend Order: modification of an inflight-order</wsdl:documentation>
      <wsdl:operation name="productOrderCreate">
         <wsdl:documentation><!--                    
                        [public]This operation is used to create an order. Depending on the order activity, one can "INSTALL", "CHANGE", or "DISCONNECT" an associated product.--></wsdl:documentation>
         <wsdl:input name="productOrderCreateRequest" message="ws:productOrderCreate"/>
         <wsdl:output name="productOrderCreateResponse"
                      message="ws:productOrderCreateResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="productOrderGet">
         <wsdl:documentation><!--                    
                        [public]This operation is used to retrieve a single product order based upon a specified product order id.--></wsdl:documentation>
         <wsdl:input name="productOrderGetRequest" message="ws:productOrderGet"/>
         <wsdl:output name="productOrderGetResponse" message="ws:productOrderGetResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="productOrderFind">
         <wsdl:documentation><!--                    
                        [public]This operation is used to retrieve one or more product orders based upon filter criteria specified on input.--></wsdl:documentation>
         <wsdl:input name="productOrderFindRequest" message="ws:productOrderFind"/>
         <wsdl:output name="productOrderFindResponse" message="ws:productOrderFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="productOrderCancel">
         <wsdl:documentation><!--                    
                        [public]Request to cancel an order submitted by the buyer
Seller answer with order state (could be CANCELLED, ASSESSING_CANCELLATION or previous order state if seller did not accept cancellation request).--></wsdl:documentation>
         <wsdl:input name="productOrderCancelRequest" message="ws:productOrderCancel"/>
         <wsdl:output name="productOrderCancelResponse"
                      message="ws:productOrderCancelResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="hubCreate">
         <wsdl:input name="hubCreateRequest" message="ws:hubCreate"/>
         <wsdl:output name="hubCreateResponse" message="ws:hubCreateResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="hubFind">
         <wsdl:input name="hubFindRequest" message="ws:hubFind"/>
         <wsdl:output name="hubFindResponse" message="ws:hubFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="hubGet">
         <wsdl:input name="hubGetRequest" message="ws:hubGet"/>
         <wsdl:output name="hubGetResponse" message="ws:hubGetResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="hubDelete">
         <wsdl:input name="hubDeleteRequest" message="ws:hubDelete"/>
         <wsdl:output name="hubDeleteResponse" message="ws:hubDeleteResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="productOrder.soap11.binding" type="ws:productOrder">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="productOrderCreate">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v2/soap11/productOrderCreate"/>
         <wsdl:input name="productOrderCreateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOrderCreateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="productOrderGet">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v2/soap11/productOrderGet"/>
         <wsdl:input name="productOrderGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOrderGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="productOrderFind">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v2/soap11/productOrderFind"/>
         <wsdl:input name="productOrderFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOrderFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="productOrderCancel">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v2/soap11/productOrderCancel"/>
         <wsdl:input name="productOrderCancelRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOrderCancelResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubCreate">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v2/soap11/hubCreate"/>
         <wsdl:input name="hubCreateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubCreateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubFind">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v2/soap11/hubFind"/>
         <wsdl:input name="hubFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubGet">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v2/soap11/hubGet"/>
         <wsdl:input name="hubGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubDelete">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v2/soap11/hubDelete"/>
         <wsdl:input name="hubDeleteRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubDeleteResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="productOrder">
      <wsdl:documentation>Service: productOrder
            Version: 2.0.0_inProgress
            Owner: MEF
            Generated on: 2018-02-27T12:08:19.713Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
      <wsdl:port name="productOrder.soap11.port"
                 binding="ws:productOrder.soap11.binding">
         <soap:address location="http://localhost/changeIt"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
