experimental/api/R2/productOrder/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/MEF/api/productOrder/v2/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/MEF/api/productOrder/v2/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: productOrder
                    Version: 2.0.0_inProgress
                    Owner: MEF
                    Generated on: 2018-02-27T12:08:19.775Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="OrderItemAction">
      <xs:restriction base="xs:string">
         <xs:enumeration value="INSTALL"/>
         <xs:enumeration value="CHANGE"/>
         <xs:enumeration value="DISCONNECT"/>
         <xs:enumeration value="NO_CHANGE"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="OrderStatus">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ACKNOWLEDGED"/>
         <xs:enumeration value="REJECTED"/>
         <xs:enumeration value="IN_PROGRESS"/>
         <xs:enumeration value="PENDING"/>
         <xs:enumeration value="HELD"/>
         <xs:enumeration value="ASSESSING_CANCELLATION"/>
         <xs:enumeration value="PENDING_CANCELLATION"/>
         <xs:enumeration value="CANCELLED"/>
         <xs:enumeration value="CONFIGURED"/>
         <xs:enumeration value="CONFIRMED"/>
         <xs:enumeration value="JEOPARDY"/>
         <xs:enumeration value="FAILED"/>
         <xs:enumeration value="PARTIAL"/>
         <xs:enumeration value="COMPLETED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelationshipType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="RELIES_ON"/>
         <xs:enumeration value="BUNDLED"/>
         <xs:enumeration value="COMES_FROM"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="OrderActivity">
      <xs:restriction base="xs:string">
         <xs:enumeration value="INSTALL"/>
         <xs:enumeration value="CHANGE"/>
         <xs:enumeration value="DISCONNECT"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DesiredOrderResponses">
      <xs:restriction base="xs:string">
         <xs:enumeration value="CONFIRMATION_AND_ENGINEERING_DESIGN"/>
         <xs:enumeration value="CONFIRMATION_ONLY"/>
         <xs:enumeration value="NONE"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PricingMethod">
      <xs:restriction base="xs:string">
         <xs:enumeration value="TARIFF"/>
         <xs:enumeration value="CONTRACT"/>
         <xs:enumeration value="INDIVIDUAL_CASE_BASIS"/>
         <xs:enumeration value="OTHER"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="OrderItemStatus">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ACKNOWLEDGED"/>
         <xs:enumeration value="REJECTED"/>
         <xs:enumeration value="IN_PROGRESS"/>
         <xs:enumeration value="PENDING"/>
         <xs:enumeration value="HELD"/>
         <xs:enumeration value="ASSESSING_CANCELLATION"/>
         <xs:enumeration value="PENDING_CANCELLATION"/>
         <xs:enumeration value="CANCELLED"/>
         <xs:enumeration value="CONFIGURED"/>
         <xs:enumeration value="FAILED"/>
         <xs:enumeration value="COMPLETED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="OrderItemRequestedState">
      <xs:restriction base="xs:string">
         <xs:enumeration value="CANCELLED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ErrorRepresentation" type="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Application related code (as defined in the API or from a common list)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Text that explains the reason for error. This can be shown to a client user.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="message" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Text that provide more details and corrective actions related to the error. This can be shown to a client user.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">http error code extension like 400-2</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceError" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">url pointing to documentation describing the error</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The class type of a REST resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">it provides a link to the schema describing a REST resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="BillingAccountRef" type="BillingAccountRef">
      <xs:annotation>
         <xs:documentation source="public">An arrangement that a customer has with an enterprise that provides products to the customer.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BillingAccountRef">
      <xs:annotation>
         <xs:documentation source="public">An arrangement that a customer has with an enterprise that provides products to the customer.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Identifies the buyer's billing account to which the recurring and non-recurring charges for this order item will be billed.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Place" type="Place">
      <xs:annotation>
         <xs:documentation source="public">Place answers the question "Where?" It is an abstract class.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Place">
      <xs:annotation>
         <xs:documentation source="public">Place answers the question "Where?" It is an abstract class.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the place.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Reference link to the place</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The role that the place plays, e.g. "Billing Address", "UNI Site", or "ENNI Site".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@referredType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The type to which the place is referring. This may be "Site", "FormattedAddress", "FieldedAddress", "ReferencedAddress", or "GeographicLocation</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The pointer where the place description file could be retrieved</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOrder" type="ProductOrder">
      <xs:annotation>
         <xs:documentation source="public">A ProductOrder is a type of business interaction that is used to procure a Product based upon a Product Offering.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOrder">
      <xs:annotation>
         <xs:documentation source="public">A ProductOrder is a type of business interaction that is used to procure a Product based upon a Product Offering.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique (within the ordering domain) identifier for the order that is generated by the seller when the order is initially accepted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Hyperlink to access the order</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="externalId" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A number that uniquely identifies an order within the buyer's enterprise.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Date when the order was created. Format is YYYY-MM-DDThh:mmTZD (e.g. 1997-07-16T19:20+01:00)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="state" type="OrderStatus" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The status of the order in compliance with TMF622.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedStartDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The buyer's requested date that order processing should start. Format is YYYY-MM-DDThh:mmTZD (e.g. 1997-07-16T19:20+01:00).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedCompletionDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Identifies the buyer's desired due date (requested delivery date). Cannot be requested on cancelled orders.  Format is YYYY-MM-DDThh:mmTZD (e.g. 1997-07-16T19:20+01:00).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="completionDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The date the order is completed. Format is YYYY-MM-DDThh:mmTZD (e.g. 1997-07-16T19:20+01:00)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="expeditePriority" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Indicates that expedited treatment is requested and any charges generated in provisioning this request (e.g., additional engineering charges or labor charges if applicable) will be accepted; optionally, can be used to indicate the assigned priority of this order relative to other orders in the Order Management system. The valid values for this field will be defined by the Seller as part of the contracting or on-boarding process</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderActivity" type="OrderActivity" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The type of order, as defined by the business (e.g., install, change, disconnect).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="desiredResponses" type="DesiredOrderResponses" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The type of order responses that the buyer wishes to receive from the Seller e.g. "confirmation and engineering design", "confirmation only", or "none".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderVersion" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The version number that the Buyer uses to refer to this particular version of the order</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="projectId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">An identifier that is used to group Orders that represent a unit of functionality that is important to a Buyer.  A Project can be used to relate multiple Orders together.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="tspRestorationPriority" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Within the United States, indicates the provisioning and restoration priority as defined under the TSP Service Vendor Handbook, The valid values are defined in ATIS OBF document: ATIS-0404001</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="1"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">Identifies the related parties associated to the product order. These include the related parties with the roles "Seller", "Buyer", "Billing Contact", "Order Contact", "Implementation Contact", and "Technical Contact".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="note" type="Note" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A list of note(s) associated to the product order.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItem"
                     type="OrderItem"
                     minOccurs="1"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The order items associated with this order.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@baseType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Note" type="Note">
      <xs:annotation>
         <xs:documentation source="public">A note, or set of notes, to be associated to the product order.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Note">
      <xs:annotation>
         <xs:documentation source="public">A note, or set of notes, to be associated to the product order.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="text" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The text of the note</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="date" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The date of the note. Format is YYYY-MM-DDThh:mmTZD (e.g. 1997-07-16T19:20+01:00).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="author" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The author of the note</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="OrderItem" type="OrderItem">
      <xs:annotation>
         <xs:documentation source="public">An enumeration of the entities that are part of this order expressed in terms of a Product Offering or a Product (for a change order).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="OrderItem">
      <xs:annotation>
         <xs:documentation source="public">An enumeration of the entities that are part of this order expressed in terms of a Product Offering or a Product (for a change order).</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="action" type="OrderItemAction" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The action to be taken for this order item, e.g "INSTALL" / "DISCONNECT" / "NO_CHANGE"/ "CHANGE"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="state" type="OrderItemStatus" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The state of the order item</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingMethod" type="PricingMethod" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The pricing authority to be used to price the products on this order.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingReference" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The value associated with the Pricing Method selected (e.g. a contract or tariff id)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingTerm" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The length of the contract in months</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="billingAccount" type="BillingAccountRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The billing account, if it exists, to associate to this product order. If it doesn't exist, the order item points to a billing contact and associated address.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productOffering" type="ProductOfferingRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The product offering from which a product being ordered is instantiated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="Product" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The product being ordered on this order item.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItemRelationship"
                     type="OrderItemRelationShip"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The relationship of one order item to another order item.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="qualification"
                     type="QualificationRef"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">Order item may have associated to it a product offering qualification id.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Type of productOrder</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Target a description file of productOrder extension</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOfferingRef" type="ProductOfferingRef">
      <xs:annotation>
         <xs:documentation source="public">A product offering defines the commercial terms under which a product specification may be instantiated.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOfferingRef">
      <xs:annotation>
         <xs:documentation source="public">A product offering defines the commercial terms under which a product specification may be instantiated.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A unique product offering identifier. This identifier is provided by the seller and communicated to the buyer</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Product" type="Product">
      <xs:annotation>
         <xs:documentation source="public">A Product is an instance of a ProductOffering procured by a Customer.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Product">
      <xs:annotation>
         <xs:documentation source="public">A Product is an instance of a ProductOffering procured by a Customer.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique (within the product domain) identifier for the product that is generated by the seller when the product is instantiated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Type of Product if specialization of product is used</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productSpecification"
                     type="ProductSpecification"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The product spec from which this product is defined.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="place" type="Place" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A place that is related to a product. This may be a "Site", an "Address", or a "GeographicPoint".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">An individual, or list of individuals, that are in some way associated to the product as defined by a related party role, e.g. "UNI Site Contact", or "ENNI Site Contact".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productRelationship"
                     type="ProductRelationship"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A product has a relationship to another product. e.g. an E-Access product has a bundled relationship to its CE Endpoint products.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="OrderItemRelationShip" type="OrderItemRelationShip">
      <xs:annotation>
         <xs:documentation source="public">This class allows the ability to associate one order item to another order item.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="OrderItemRelationShip">
      <xs:annotation>
         <xs:documentation source="public">This class allows the ability to associate one order item to another order item.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="type" type="RelationshipType" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Indicates the type of order item relationship</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The id of the targeted order item by the relationship</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductRelationship" type="ProductRelationship">
      <xs:annotation>
         <xs:documentation source="public">Indicates a relationship between products.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductRelationship">
      <xs:annotation>
         <xs:documentation source="public">Indicates a relationship between products.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="type" type="RelationshipType" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Indicates whether the product is "bundled", "relies on", or "comesFrom" another product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="ProductRef" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The product to which a relationship is made. This is used when a product is being defined inline (e.g. UNI and ENNI endpoints as part of an Access E-Line bundle) as a target, meaning it does not currently exist and there is no product identifier for it.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductRef" type="ProductRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Hub" type="Hub">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Hub">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="query" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">attribute selection &amp; search criteria</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="callback" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">callback urn, for instance an url http://yourdomain/listener/api/v1/event</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="QualificationRef" type="QualificationRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="QualificationRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0"/>
         <xs:element name="qualificationItem" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@referredType" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RelatedParty" type="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public">An entity or organization that is involved in the product order, such as the buyer, the seller, the order contact, etc.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public">An entity or organization that is involved in the product order, such as the buyer, the seller, the order contact, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">An identifier of the related party. For the "buyer" and "seller" id, this is a  Carrier ID number provided by local regulatory entity.  Unique in the local jurisdiction.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference link to the party</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@referredType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">MEF: could be "Buyer", "Seller", "Billing Contact", "Order Contact", "Implementation Contact", "Technical Contact", "UNI Site Contact", "UNI Alt Site Contact", "ENNI Site Contact", "ENNI Alt Site Contact"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The name of the related party, e.g. "Jean Pontus".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="emailAddress" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The email address of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="number" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The telephone number of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="numberExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">MEF Extension</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CreateProductOrder" type="CreateProductOrder">
      <xs:annotation>
         <xs:documentation source="public">A CreateProductOrder object is provided as input to the product order create operation.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="CreateProductOrder">
      <xs:annotation>
         <xs:documentation source="public">A CreateProductOrder object is provided as input to the product order create operation.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="externalId" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedCompletionDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedStartDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="expeditePriority" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@baseType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderActivity" type="OrderActivity" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="desiredResponse" type="DesiredOrderResponses" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderVersion" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="projectId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="tspRestorationPriority" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="1"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="note" type="Note" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItem"
                     type="CreateOrderItem"
                     minOccurs="1"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductSpecification" type="ProductSpecification">
      <xs:annotation>
         <xs:documentation source="public">A ProductSpec describes the invariant properties (i.e., features) that a given set of Products MAY have. These properties provide the information needed to plan, construct, allocate, and/or retire the Services and Resources from the operator environment needed to deliver the Product</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductSpecification">
      <xs:annotation>
         <xs:documentation source="public">A ProductSpec describes the invariant properties (i.e., features) that a given set of Products MAY have. These properties provide the information needed to plan, construct, allocate, and/or retire the Services and Resources from the operator environment needed to deliver the Product</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A unique identifier for the product spec, within the product spec domain. It is assigned by the seller and communicated to the buyer at on-boarding time.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="describing" type="Describing" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A structure to describe the product Specification type and the target where to retrieve the product description.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Describing" type="Describing">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Describing">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CreateOrderItem" type="CreateOrderItem">
      <xs:annotation>
         <xs:documentation source="public">A CreateOrderItem object is provided as input to the product order item create operation.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="CreateOrderItem">
      <xs:annotation>
         <xs:documentation source="public">A CreateOrderItem object is provided as input to the product order item create operation.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="action" type="OrderItemAction" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Can be “INSTALL”, “CHANGE”, “DISCONNECT”, or “NO_CHANGE”</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingMethod" type="PricingMethod" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The pricing authority to be used to price the products on this order. Choice of Tariff, Contract, Individual Case Basis (ICB), Other</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingReference" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The value associated with the Pricing Method selected (e.g. a contract or tariff id)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingTerm" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The length of the contract in months</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="billingAccount" type="BillingAccountRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the billing account where to bill the charges</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productOffering" type="ProductOfferingRef" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A product offering reference (ProductOfferingRef). A product offering represents entities that are orderable from the provider of the catalog, this resource includes pricing information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="Product" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItemRelationship"
                     type="OrderItemRelationShip"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="qualification"
                     type="QualificationRef"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">Used to refer serviceability request done previously.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOrderSummary" type="ProductOrderSummary">
      <xs:annotation>
         <xs:documentation source="public">Structure to define GET without id response. A list of productOrder matching request criteria. Provides Product order summary view.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOrderSummary">
      <xs:annotation>
         <xs:documentation source="public">Structure to define GET without id response. A list of productOrder matching request criteria. Provides Product order summary view.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">ID created on repository side (OM system)
MEF: Unique identifier for the order that is generated by the Seller when the order is initially accepted via an API.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="externalId" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">ID given by the consumer and only understandable by him (to facilitate his searches afterwards).
MEF: Buyer Purchase Order Number</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Date when the order was created</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="state" type="OrderStatus" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Tracks the lifecycle status of the product order, such as Acknowledged, Rejected, InProgress, Pending and so on
MEF: to be seen if Desired Response could be managed through state (9)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedCompletionDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Requested delivery date from the requestor perspective</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="projectId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">An identifier that is used to group Orders that represent a unit of functionality that is important to a Buyer. A Project can be used to relate multiple Orders together.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CancelOrderResponse" type="CancelOrderResponse">
      <xs:annotation>
         <xs:documentation source="public">Structure to allow Seller to describe to a cancel order request</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="CancelOrderResponse">
      <xs:annotation>
         <xs:documentation source="public">Structure to allow Seller to describe to a cancel order request</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="state" type="OrderStatus" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="cancellationDeniedReason" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="UpdateOrderItem" type="UpdateOrderItem">
      <xs:annotation>
         <xs:documentation source="public">The update product order structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="UpdateOrderItem">
      <xs:annotation>
         <xs:documentation source="public">The update product order structure.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="action" type="OrderItemAction" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Can be "INSTALL" / "DISCONNECT" / "NO_CHANGE"/ "CHANGE"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedState" type="OrderItemRequestedState" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingMethod" type="PricingMethod" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The pricing authority to be used to price the products on this order. Choice of Tariff, Contract, Individual Case Basis (ICB), Other</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingReference" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The value associated with the Pricing Method selected (e.g. a contract or tariff id)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pricingTerm" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The length of the contract in months</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="billingAccount" type="BillingAccountRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the billing account where to bill the charges</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productOffering" type="ProductOfferingRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A product offering reference (ProductOfferingRef). A product offering represents entities that are orderable from the provider of the catalog, this resource includes pricing information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="Product" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItemRelationship"
                     type="OrderItemRelationShip"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="qualification"
                     type="QualificationRef"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">Used to refer serviceability request done previously.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="UpdateProductOrder" type="UpdateProductOrder">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="UpdateProductOrder">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="externalId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedCompletionDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestedStartDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="expeditePriority" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderActivity" type="OrderActivity" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="desiredResponse" type="DesiredOrderResponses" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderVersion" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="projectId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="tspRestorationPriority" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@baseType" type="xs:string" minOccurs="0"/>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="note" type="Note" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="orderItem"
                     type="UpdateOrderItem"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
