experimental/api/R2/productInventory/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ws="http://orange.com/MEF/api/productInventory/v1/soap11"
                  xmlns:msg="http://orange.com/MEF/api/productInventory/v1/message"
                  xmlns:mod="http://orange.com/MEF/api/productInventory/v1/model"
                  name="productInventory"
                  targetNamespace="http://orange.com/MEF/api/productInventory/v1/soap11">
   <wsdl:documentation>Service: productInventory
            Version: 1.0.0_inProgress
            Owner: MEF
            Generated on: 2018-02-27T11:51:52.82Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://orange.com/MEF/api/productInventory/v1/message">
         <xs:import schemaLocation="model.xsd"
                    namespace="http://orange.com/MEF/api/productInventory/v1/model"/>
         <xs:element name="productGet" type="msg:productGet">
            <xs:annotation>
               <xs:documentation source="public">This operation is used to retrieve a single product inventory instance based upon a specified product id.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productGet">
            <xs:sequence>
               <xs:element name="productId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productGetResponse" type="msg:productGetResponse"/>
         <xs:complexType name="productGetResponse">
            <xs:sequence>
               <xs:element name="product" type="mod:Product" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productFind" type="msg:productFind">
            <xs:annotation>
               <xs:documentation source="public">This operation is used to retrieve one or more product inventory instances based upon filter criteria specified on input.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productFind">
            <xs:sequence>
               <xs:element name="status" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="productSpecificationId" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="productOfferingId" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="relatedPartyId" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="relatedPartyRole" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="place" type="mod:PlaceRequest" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productFindResponse" type="msg:productFindResponse"/>
         <xs:complexType name="productFindResponse">
            <xs:sequence>
               <xs:element name="productSummary"
                           type="mod:ProductSummary"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubCreate" type="msg:hubCreate"/>
         <xs:complexType name="hubCreate">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="1"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubCreateResponse" type="msg:hubCreateResponse"/>
         <xs:complexType name="hubCreateResponse">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubFind" type="msg:hubFind"/>
         <xs:complexType name="hubFind">
            <xs:sequence/>
         </xs:complexType>
         <xs:element name="hubFindResponse" type="msg:hubFindResponse"/>
         <xs:complexType name="hubFindResponse">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubGet" type="msg:hubGet"/>
         <xs:complexType name="hubGet">
            <xs:sequence>
               <xs:element name="hubId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubGetResponse" type="msg:hubGetResponse"/>
         <xs:complexType name="hubGetResponse">
            <xs:sequence>
               <xs:element name="hub" type="mod:Hub" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubDelete" type="msg:hubDelete"/>
         <xs:complexType name="hubDelete">
            <xs:sequence>
               <xs:element name="hubId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="hubDeleteResponse" type="msg:hubDeleteResponse"/>
         <xs:complexType name="hubDeleteResponse">
            <xs:sequence/>
         </xs:complexType>
         <xs:element name="faultCode400" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode401" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode403" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode404" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode422" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode503" type="mod:ErrorRepresentation"/>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="productGet">
      <wsdl:part name="parameters" element="msg:productGet"/>
   </wsdl:message>
   <wsdl:message name="productGetResponse">
      <wsdl:part name="parameters" element="msg:productGetResponse"/>
   </wsdl:message>
   <wsdl:message name="productFind">
      <wsdl:part name="parameters" element="msg:productFind"/>
   </wsdl:message>
   <wsdl:message name="productFindResponse">
      <wsdl:part name="parameters" element="msg:productFindResponse"/>
   </wsdl:message>
   <wsdl:message name="hubCreate">
      <wsdl:part name="parameters" element="msg:hubCreate"/>
   </wsdl:message>
   <wsdl:message name="hubCreateResponse">
      <wsdl:part name="parameters" element="msg:hubCreateResponse"/>
   </wsdl:message>
   <wsdl:message name="hubFind">
      <wsdl:part name="parameters" element="msg:hubFind"/>
   </wsdl:message>
   <wsdl:message name="hubFindResponse">
      <wsdl:part name="parameters" element="msg:hubFindResponse"/>
   </wsdl:message>
   <wsdl:message name="hubGet">
      <wsdl:part name="parameters" element="msg:hubGet"/>
   </wsdl:message>
   <wsdl:message name="hubGetResponse">
      <wsdl:part name="parameters" element="msg:hubGetResponse"/>
   </wsdl:message>
   <wsdl:message name="hubDelete">
      <wsdl:part name="parameters" element="msg:hubDelete"/>
   </wsdl:message>
   <wsdl:message name="hubDeleteResponse">
      <wsdl:part name="parameters" element="msg:hubDeleteResponse"/>
   </wsdl:message>
   <wsdl:message name="faultCode400">
      <wsdl:part name="fault" element="msg:faultCode400"/>
   </wsdl:message>
   <wsdl:message name="faultCode401">
      <wsdl:part name="fault" element="msg:faultCode401"/>
   </wsdl:message>
   <wsdl:message name="faultCode403">
      <wsdl:part name="fault" element="msg:faultCode403"/>
   </wsdl:message>
   <wsdl:message name="faultCode404">
      <wsdl:part name="fault" element="msg:faultCode404"/>
   </wsdl:message>
   <wsdl:message name="faultCode422">
      <wsdl:part name="fault" element="msg:faultCode422"/>
   </wsdl:message>
   <wsdl:message name="faultCode503">
      <wsdl:part name="fault" element="msg:faultCode503"/>
   </wsdl:message>
   <wsdl:portType name="productInventory">
      <wsdl:documentation>The scope of this MEF API is to provide the ability  for a Service Provider’s (Buyer) operational support system to retrieve from a Partner’s (Seller) Inventory management system a set of product instances based upon a filter of product inventory attributes, or a specific product instance based upon a product identifier.</wsdl:documentation>
      <wsdl:operation name="productGet">
         <wsdl:documentation><!--                    
                        [public]This operation is used to retrieve a single product inventory instance based upon a specified product id.--></wsdl:documentation>
         <wsdl:input name="productGetRequest" message="ws:productGet"/>
         <wsdl:output name="productGetResponse" message="ws:productGetResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="productFind">
         <wsdl:documentation><!--                    
                        [public]This operation is used to retrieve one or more product inventory instances based upon filter criteria specified on input.--></wsdl:documentation>
         <wsdl:input name="productFindRequest" message="ws:productFind"/>
         <wsdl:output name="productFindResponse" message="ws:productFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="hubCreate">
         <wsdl:input name="hubCreateRequest" message="ws:hubCreate"/>
         <wsdl:output name="hubCreateResponse" message="ws:hubCreateResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="hubFind">
         <wsdl:input name="hubFindRequest" message="ws:hubFind"/>
         <wsdl:output name="hubFindResponse" message="ws:hubFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="hubGet">
         <wsdl:input name="hubGetRequest" message="ws:hubGet"/>
         <wsdl:output name="hubGetResponse" message="ws:hubGetResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="hubDelete">
         <wsdl:input name="hubDeleteRequest" message="ws:hubDelete"/>
         <wsdl:output name="hubDeleteResponse" message="ws:hubDeleteResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="productInventory.soap11.binding" type="ws:productInventory">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="productGet">
         <soap:operation soapAction="http://orange.com/MEF/api/productInventory/v1/soap11/productGet"/>
         <wsdl:input name="productGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="productFind">
         <soap:operation soapAction="http://orange.com/MEF/api/productInventory/v1/soap11/productFind"/>
         <wsdl:input name="productFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubCreate">
         <soap:operation soapAction="http://orange.com/MEF/api/productInventory/v1/soap11/hubCreate"/>
         <wsdl:input name="hubCreateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubCreateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubFind">
         <soap:operation soapAction="http://orange.com/MEF/api/productInventory/v1/soap11/hubFind"/>
         <wsdl:input name="hubFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubGet">
         <soap:operation soapAction="http://orange.com/MEF/api/productInventory/v1/soap11/hubGet"/>
         <wsdl:input name="hubGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hubDelete">
         <soap:operation soapAction="http://orange.com/MEF/api/productInventory/v1/soap11/hubDelete"/>
         <wsdl:input name="hubDeleteRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="hubDeleteResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="productInventory">
      <wsdl:documentation>Service: productInventory
            Version: 1.0.0_inProgress
            Owner: MEF
            Generated on: 2018-02-27T11:51:52.82Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
      <wsdl:port name="productInventory.soap11.port"
                 binding="ws:productInventory.soap11.binding">
         <soap:address location="http://localhost/changeIt"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
