experimental/api/R2/productInventory/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/MEF/api/productInventory/v1/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/MEF/api/productInventory/v1/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: productInventory
                    Version: 1.0.0_inProgress
                    Owner: MEF
                    Generated on: 2018-02-27T11:51:52.848Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="ProductStatus">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ACTIVE"/>
         <xs:enumeration value="PENDING_CHANGE"/>
         <xs:enumeration value="SUSPENDED"/>
         <xs:enumeration value="PENDING_TERMINATE"/>
         <xs:enumeration value="TERMINATED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelationshipType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="RELIES_ON"/>
         <xs:enumeration value="BUNDLED"/>
         <xs:enumeration value="COMES_FROM"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ErrorRepresentation" type="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Application related code (as defined in the API or from a common list)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Text that explains the reason for error. This can be shown to a client user.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="message" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Text that provide more details and corrective actions related to the error. This can be shown to a client user.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">http error code extension like 400-2</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceError" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">url pointing to documentation describing the error</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The class type of a REST resource</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">it provides a link to the schema describing a REST resource</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Product" type="Product">
      <xs:annotation>
         <xs:documentation source="public">It defines the set of goods and services, offered to a market by a Party that is playing an appropriate PartyRole, which is purchased by a Customer.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Product">
      <xs:annotation>
         <xs:documentation source="public">It defines the set of goods and services, offered to a market by a Party that is playing an appropriate PartyRole, which is purchased by a Customer.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the product in the product domain.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference of the product</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="ProductStatus" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The state of the product in accordance with the product lifecycle.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="startDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Start date is when the product instance is created in the inventory database with a timestamp.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="terminationDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Termination date (commercial) is when the product has been terminated (when the disconnect in the product order has been processed). Timestamp of when the status changes to terminated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="place" type="Place" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A set of related places associated to the product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productOffering" type="ProductOfferingRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A reference to the product offering associated to the product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productSpecification"
                     type="ProductSpecificationRef"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The associated product spec, as referenced by an id.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productRelationship"
                     type="ProductRelationship"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The product has a product relationship with other product(s).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="billingAccount"
                     type="BillingAccountRef"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A reference to the billing account(s) associated to the product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A set of related parties associated to the product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productOrderItem"
                     type="ProductOrderItem"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">The associated product order item that has created, or modified the product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The type of product if specialization</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@baseType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">the Base Type of the product if specialization</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A pointer to a file describing extension attributes (if used)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOfferingRef" type="ProductOfferingRef">
      <xs:annotation>
         <xs:documentation source="public">A product offering defines the commercial terms under which a product specification may be instantiated</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOfferingRef">
      <xs:annotation>
         <xs:documentation source="public">A product offering defines the commercial terms under which a product specification may be instantiated</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A unique product offering identifier. This identifier is provided by the seller and communicated to the buyer during the on-boarding process.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductSpecificationRef" type="ProductSpecificationRef">
      <xs:annotation>
         <xs:documentation source="public">A ProductSpec describes the invariant properties (i.e., features) that a given set of Products MAY have. These properties provide the information needed to plan, construct, allocate, and/or retire the Services and Resources from the operator environment needed to deliver the Product.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductSpecificationRef">
      <xs:annotation>
         <xs:documentation source="public">A ProductSpec describes the invariant properties (i.e., features) that a given set of Products MAY have. These properties provide the information needed to plan, construct, allocate, and/or retire the Services and Resources from the operator environment needed to deliver the Product.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A unique identifier of the product spec.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="describing" type="Describing" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A structure to find a schema describing the product.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductRelationship" type="ProductRelationship">
      <xs:annotation>
         <xs:documentation source="public">A product has relationships to other products.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductRelationship">
      <xs:annotation>
         <xs:documentation source="public">A product has relationships to other products.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="type" type="RelationshipType" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Indicates whether the type of relationship is "bundled", "reliesOn", or "comesFrom"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="ProductRef" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A reference to a product id</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="BillingAccountRef" type="BillingAccountRef">
      <xs:annotation>
         <xs:documentation source="public">An arrangement that a customer has with an enterprise that provides products to the customer.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BillingAccountRef">
      <xs:annotation>
         <xs:documentation source="public">An arrangement that a customer has with an enterprise that provides products to the customer.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">An unique identifier of the billing account</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RelatedParty" type="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public">An entity or organization that is related to the product, such as the buyer, the seller, etc.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public">An entity or organization that is related to the product, such as the buyer, the seller, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A unique identifier of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference of the related party</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Role of the related party</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Name of the related party</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="number" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The telephone number of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="numberExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The telephone extension of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="emailAddress" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The email address of the related party.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductRef" type="ProductRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the product</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference of the product</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Place" type="Place">
      <xs:annotation>
         <xs:documentation source="public">Place answers the question "Where?" It is an abstract class.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Place">
      <xs:annotation>
         <xs:documentation source="public">Place answers the question "Where?" It is an abstract class.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the place.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">href of the place</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The role that the place plays, e.g. "Billing Address", "UNI Site", or "ENNI Site".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@referredType" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A specialization of the place class. The type to which the place is referring. This may be "Site", "FormattedAddress", "FieldedAddress", "ReferencedAddress", or "GeographicLocation".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A target to the file desribing the place</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductOrderItem" type="ProductOrderItem">
      <xs:annotation>
         <xs:documentation source="public">An enumeration of the entities that are part of this order expressed in terms of a Product Offering or a Product (for a change order).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductOrderItem">
      <xs:annotation>
         <xs:documentation source="public">An enumeration of the entities that are part of this order expressed in terms of a Product Offering or a Product (for a change order).</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">href to the productOrder</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productOrderId" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Id of the productOrder</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Describing" type="Describing">
      <xs:annotation>
         <xs:documentation source="public">Technical structure</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Describing">
      <xs:annotation>
         <xs:documentation source="public">Technical structure</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="@type" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Type of the resource</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">An URL to target a description file</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductSummary" type="ProductSummary">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductSummary">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the product</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference of the product</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="ProductStatus" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Lifecycle status of the product</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="startDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The date from which the product starts</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productOffering" type="ProductOfferingRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A product offering reference. A product offering represents entities that are orderable from the provider of the catalog, this resource includes pricing information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="productSpecification"
                     type="ProductSpecificationSummary"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A product specification reference. A ProductSpecification is a detailed description of a tangible or intangible object made available externally in the form of a ProductOffering to customers or other parties playing a party role. It may be useful to manage links directly to the ProductSpec, when the product is a non-bundle one you may not manage the ProductOffering link with this Product</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ProductSpecificationSummary" type="ProductSpecificationSummary">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProductSpecificationSummary">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the product specification</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Hub" type="Hub">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Hub">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0"/>
         <xs:element name="query" type="xs:string" minOccurs="0"/>
         <xs:element name="callback" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PlaceRequest" type="PlaceRequest">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="PlaceRequest">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the place.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The type to which the place is referring. This may be "Site", "FormattedAddress", "FieldedAddress", "ReferencedAddress", or "GeographicLocation".</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
