experimental/api/R1/site/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ws="http://orange.com/MEF/api/site/v0/soap11"
                  xmlns:msg="http://orange.com/MEF/api/site/v0/message"
                  xmlns:mod="http://orange.com/MEF/api/site/v0/model"
                  name="site"
                  targetNamespace="http://orange.com/MEF/api/site/v0/soap11">
   <wsdl:documentation>Service: site
            Version: 0.1.0_inProgress
            Owner: MEF
            Generated on: 2017-07-25T21:07:09.354Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://orange.com/MEF/api/site/v0/message">
         <xs:import schemaLocation="model.xsd"
                    namespace="http://orange.com/MEF/api/site/v0/model"/>
         <xs:element name="siteFind" type="msg:siteFind">
            <xs:annotation>
               <xs:documentation source="public">List of criterias to be used as well as syntax of site summary retrieved in the response is aligned with MEF requirements</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="siteFind">
            <xs:sequence>
               <xs:element name="status" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="siteCompanyName" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="siteCustomerName" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geographicAddress.streetNr" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geographicAddress.streetName" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geographicAddress.streetType" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geographicAddress.city" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geographicAddress.postcode" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geographicAddress.country" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="siteFindResponse" type="msg:siteFindResponse"/>
         <xs:complexType name="siteFindResponse">
            <xs:sequence>
               <xs:element name="siteFindResp"
                           type="mod:SiteFindResp"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="siteGet" type="msg:siteGet"/>
         <xs:complexType name="siteGet">
            <xs:sequence>
               <xs:element name="siteId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="siteGetResponse" type="msg:siteGetResponse"/>
         <xs:complexType name="siteGetResponse">
            <xs:sequence>
               <xs:element name="site" type="mod:Site" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="faultCode400" type="mod:ZError"/>
         <xs:element name="faultCode401" type="mod:ZError"/>
         <xs:element name="faultCode404" type="mod:ZError"/>
         <xs:element name="faultCode408" type="mod:ZError"/>
         <xs:element name="faultCode422" type="mod:ZError"/>
         <xs:element name="faultCode500" type="mod:ZError"/>
         <xs:element name="faultCode503" type="mod:ZError"/>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="siteFind">
      <wsdl:part name="parameters" element="msg:siteFind"/>
   </wsdl:message>
   <wsdl:message name="siteFindResponse">
      <wsdl:part name="parameters" element="msg:siteFindResponse"/>
   </wsdl:message>
   <wsdl:message name="siteGet">
      <wsdl:part name="parameters" element="msg:siteGet"/>
   </wsdl:message>
   <wsdl:message name="siteGetResponse">
      <wsdl:part name="parameters" element="msg:siteGetResponse"/>
   </wsdl:message>
   <wsdl:message name="faultCode400">
      <wsdl:part name="fault" element="msg:faultCode400"/>
   </wsdl:message>
   <wsdl:message name="faultCode401">
      <wsdl:part name="fault" element="msg:faultCode401"/>
   </wsdl:message>
   <wsdl:message name="faultCode404">
      <wsdl:part name="fault" element="msg:faultCode404"/>
   </wsdl:message>
   <wsdl:message name="faultCode408">
      <wsdl:part name="fault" element="msg:faultCode408"/>
   </wsdl:message>
   <wsdl:message name="faultCode422">
      <wsdl:part name="fault" element="msg:faultCode422"/>
   </wsdl:message>
   <wsdl:message name="faultCode500">
      <wsdl:part name="fault" element="msg:faultCode500"/>
   </wsdl:message>
   <wsdl:message name="faultCode503">
      <wsdl:part name="fault" element="msg:faultCode503"/>
   </wsdl:message>
   <wsdl:portType name="site">
      <wsdl:documentation>API to manage Site</wsdl:documentation>
      <wsdl:operation name="siteFind">
         <wsdl:documentation><!--                    
                        [public]List of criterias to be used as well as syntax of site summary retrieved in the response is aligned with MEF requirements--></wsdl:documentation>
         <wsdl:input name="siteFindRequest" message="ws:siteFind"/>
         <wsdl:output name="siteFindResponse" message="ws:siteFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="siteGet">
         <wsdl:input name="siteGetRequest" message="ws:siteGet"/>
         <wsdl:output name="siteGetResponse" message="ws:siteGetResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="site.soap11.binding" type="ws:site">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="siteFind">
         <soap:operation soapAction="http://orange.com/MEF/api/site/v0/soap11/siteFind"/>
         <wsdl:input name="siteFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="siteFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="siteGet">
         <soap:operation soapAction="http://orange.com/MEF/api/site/v0/soap11/siteGet"/>
         <wsdl:input name="siteGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="siteGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="site">
      <wsdl:documentation>Service: site
            Version: 0.1.0_inProgress
            Owner: MEF
            Generated on: 2017-07-25T21:07:09.354Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
      <wsdl:port name="site.soap11.port" binding="ws:site.soap11.binding">
         <soap:address location="http://localhost/changeIt"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
