experimental/api/R1/site/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/MEF/api/site/v0/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/MEF/api/site/v0/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: site
                    Version: 0.1.0_inProgress
                    Owner: MEF
                    Generated on: 2017-07-25T21:07:09.345Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="Status">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Planned"/>
         <xs:enumeration value="Cancelled"/>
         <xs:enumeration value="UnderConstruction"/>
         <xs:enumeration value="Existing"/>
         <xs:enumeration value="Former"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ZErrorDetail" type="ZErrorDetail"/>
   <xs:complexType name="ZErrorDetail">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1"/>
         <xs:element name="message" type="xs:string" minOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ZError" type="ZError"/>
   <xs:complexType name="ZError">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1"/>
         <xs:element name="message" type="xs:string" minOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
         <xs:element name="details"
                     type="ZErrorDetail"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicAddress" type="GeographicAddress">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicAddress">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNr" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetNrLast" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="locality" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="city" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="postcode" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="stateOrProvince" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="country" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicSubAddress"
                     type="GeographicSubAddress"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicLocation" type="GeographicLocation" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="addrLine1" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="addrLine2" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="postCodeExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Site" type="Site">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Site">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="Status" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicAddress" type="GeographicAddress" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="siteCompanyName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="siteCustomerName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="additionnalSiteInformation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicPoint" type="GeographicPoint">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicPoint">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="spatialRef" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="x" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="y" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicLocation" type="GeographicLocation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicLocation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="geographicPoint"
                     type="GeographicPoint"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicSubAddress" type="GeographicSubAddress">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicSubAddress">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="subUnitType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="subUnitNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="levelType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="levelNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="buildingName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="privateStreetNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="privateStreetName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GeographicAddressFindResp" type="GeographicAddressFindResp">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicAddressFindResp">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="streetNr" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="streetType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="city" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="postcode" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="country" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SiteFindResp" type="SiteFindResp">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SiteFindResp">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="Status" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="siteCompanyName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="siteCustomerName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicAddress"
                     type="GeographicAddressFindResp"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
