experimental/api/R2/event/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ws="http://orange.com/MEF/api/event/v1/soap11"
                  xmlns:msg="http://orange.com/MEF/api/event/v1/message"
                  xmlns:mod="http://orange.com/MEF/api/event/v1/model"
                  name="event"
                  targetNamespace="http://orange.com/MEF/api/event/v1/soap11">
   <wsdl:documentation>Service: event
            Version: 1.0.0_inProgress
            Owner: MEF
            Generated on: 2018-02-27T12:18:31.934Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://orange.com/MEF/api/event/v1/message">
         <xs:import schemaLocation="model.xsd"
                    namespace="http://orange.com/MEF/api/event/v1/model"/>
         <xs:element name="eventCreate" type="msg:eventCreate">
            <xs:annotation>
               <xs:documentation source="public">The create event is used by the seller to trigger (POST) a notification to the buyer. The buyer has previously subscribed to receive notification</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="eventCreate">
            <xs:sequence>
               <xs:element name="event" type="mod:Event" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="eventCreateResponse" type="msg:eventCreateResponse"/>
         <xs:complexType name="eventCreateResponse">
            <xs:sequence>
               <xs:element name="event" type="mod:Event" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="faultCode400" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode401" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode403" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode422" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode500" type="mod:ErrorRepresentation"/>
         <xs:element name="faultCode503" type="mod:ErrorRepresentation"/>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="eventCreate">
      <wsdl:part name="parameters" element="msg:eventCreate"/>
   </wsdl:message>
   <wsdl:message name="eventCreateResponse">
      <wsdl:part name="parameters" element="msg:eventCreateResponse"/>
   </wsdl:message>
   <wsdl:message name="faultCode400">
      <wsdl:part name="fault" element="msg:faultCode400"/>
   </wsdl:message>
   <wsdl:message name="faultCode401">
      <wsdl:part name="fault" element="msg:faultCode401"/>
   </wsdl:message>
   <wsdl:message name="faultCode403">
      <wsdl:part name="fault" element="msg:faultCode403"/>
   </wsdl:message>
   <wsdl:message name="faultCode422">
      <wsdl:part name="fault" element="msg:faultCode422"/>
   </wsdl:message>
   <wsdl:message name="faultCode500">
      <wsdl:part name="fault" element="msg:faultCode500"/>
   </wsdl:message>
   <wsdl:message name="faultCode503">
      <wsdl:part name="fault" element="msg:faultCode503"/>
   </wsdl:message>
   <wsdl:portType name="event">
      <wsdl:documentation>The MEF Event API is used to manage notification. When side A (for example buyer) subscribed to side B (for example seller) to get notification, we need an API supplied on A side to allow side B to post a notification. This API will only have a POST operation and will allow B side to trigger an event on A side.
Notifications are used with same pattern within all MEF API providing notifications.</wsdl:documentation>
      <wsdl:operation name="eventCreate">
         <wsdl:documentation><!--                    
                        [public]The create event is used by the seller to trigger (POST) a notification to the buyer. The buyer has previously subscribed to receive notification--></wsdl:documentation>
         <wsdl:input name="eventCreateRequest" message="ws:eventCreate"/>
         <wsdl:output name="eventCreateResponse" message="ws:eventCreateResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="event.soap11.binding" type="ws:event">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="eventCreate">
         <soap:operation soapAction="http://orange.com/MEF/api/event/v1/soap11/eventCreate"/>
         <wsdl:input name="eventCreateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="eventCreateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="event">
      <wsdl:documentation>Service: event
            Version: 1.0.0_inProgress
            Owner: MEF
            Generated on: 2018-02-27T12:18:31.934Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
      <wsdl:port name="event.soap11.port" binding="ws:event.soap11.binding">
         <soap:address location="http://localhost/changeIt"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
