experimental/api/R2/event/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/MEF/api/event/v1/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/MEF/api/event/v1/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: event
                    Version: 1.0.0_inProgress
                    Owner: MEF
                    Generated on: 2018-02-27T12:18:31.937Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:element name="ErrorRepresentation" type="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="message" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceError" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Event" type="Event">
      <xs:annotation>
         <xs:documentation source="public">An Event will be triggered for each time a notification is send to a listener.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Event">
      <xs:annotation>
         <xs:documentation source="public">An Event will be triggered for each time a notification is send to a listener.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="eventId" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">id of the event</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="eventTime" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">TimeStamp of the event</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="eventType" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Event Type - it is depends to the notification subscribed</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="event" type="EventRepresentation" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">An event representation is the payload of information send with the notification; it could be the summary view of the resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="EventRepresentation" type="EventRepresentation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EventRepresentation">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="comment" type="xs:string" minOccurs="0"/>
         <xs:element name="resource" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
