old/experimental/api/R1/productOrder - deprecated/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ws="http://orange.com/MEF/api/productOrder/v0/soap11"
                  xmlns:msg="http://orange.com/MEF/api/productOrder/v0/message"
                  xmlns:mod="http://orange.com/MEF/api/productOrder/v0/model"
                  name="productOrder"
                  targetNamespace="http://orange.com/MEF/api/productOrder/v0/soap11">
   <wsdl:documentation>Service: productOrder
            Version: 0.1.1_inProgress
            Owner: MEF
            Generated on: 2017-07-25T20:55:53.595Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://orange.com/MEF/api/productOrder/v0/message">
         <xs:import schemaLocation="model.xsd"
                    namespace="http://orange.com/MEF/api/productOrder/v0/model"/>
         <xs:element name="productOrderCreate" type="msg:productOrderCreate">
            <xs:annotation>
               <xs:documentation source="public">This operation allows to create a MEF productOrder. 
Reference documents:
- Carrier Ethernet Ordering Technical Specification - April 2017
- Ethernet Ordering Interface Profile Spec
- Ethernet Ordering Framework API Mapping


Additional business control are described in this operation (work in progress):</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productOrderCreate">
            <xs:sequence>
               <xs:element name="productOrder" type="mod:ProductOrderCreateIN" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderCreateResponse" type="msg:productOrderCreateResponse"/>
         <xs:complexType name="productOrderCreateResponse">
            <xs:sequence>
               <xs:element name="productOrder" type="mod:ProductOrder" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderGet" type="msg:productOrderGet">
            <xs:annotation>
               <xs:documentation source="public">Complete description of a MEF productOrder</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productOrderGet">
            <xs:sequence>
               <xs:element name="productOrderId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderGetResponse" type="msg:productOrderGetResponse"/>
         <xs:complexType name="productOrderGetResponse">
            <xs:sequence>
               <xs:element name="productOrder" type="mod:ProductOrder" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderFind" type="msg:productOrderFind">
            <xs:annotation>
               <xs:documentation source="public">This operation has not been designed with MEF specific search constraints but standard search pattern applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="productOrderFind">
            <xs:sequence>
               <xs:element name="externalId" type="xs:string" minOccurs="0"/>
               <xs:element name="orderDate" type="xs:string" minOccurs="0"/>
               <xs:element name="state" type="xs:string" minOccurs="0"/>
               <xs:element name="requestedCompletionDate" type="xs:string" minOccurs="0"/>
               <xs:element name="projectId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="productOrderFindResponse" type="msg:productOrderFindResponse"/>
         <xs:complexType name="productOrderFindResponse">
            <xs:sequence>
               <xs:element name="productOrderFindResp"
                           type="mod:ProductOrderFindResp"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="faultCode400" type="mod:ZError"/>
         <xs:element name="faultCode401" type="mod:ZError"/>
         <xs:element name="faultCode403" type="mod:ZError"/>
         <xs:element name="faultCode404" type="mod:ZError"/>
         <xs:element name="faultCode405" type="mod:ZError"/>
         <xs:element name="faultCode408" type="mod:ZError"/>
         <xs:element name="faultCode422" type="mod:ZError"/>
         <xs:element name="faultCode500" type="mod:ZError"/>
         <xs:element name="faultCode503" type="mod:ZError"/>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="productOrderCreate">
      <wsdl:part name="parameters" element="msg:productOrderCreate"/>
   </wsdl:message>
   <wsdl:message name="productOrderCreateResponse">
      <wsdl:part name="parameters" element="msg:productOrderCreateResponse"/>
   </wsdl:message>
   <wsdl:message name="productOrderGet">
      <wsdl:part name="parameters" element="msg:productOrderGet"/>
   </wsdl:message>
   <wsdl:message name="productOrderGetResponse">
      <wsdl:part name="parameters" element="msg:productOrderGetResponse"/>
   </wsdl:message>
   <wsdl:message name="productOrderFind">
      <wsdl:part name="parameters" element="msg:productOrderFind"/>
   </wsdl:message>
   <wsdl:message name="productOrderFindResponse">
      <wsdl:part name="parameters" element="msg:productOrderFindResponse"/>
   </wsdl:message>
   <wsdl:message name="faultCode400">
      <wsdl:part name="fault" element="msg:faultCode400"/>
   </wsdl:message>
   <wsdl:message name="faultCode401">
      <wsdl:part name="fault" element="msg:faultCode401"/>
   </wsdl:message>
   <wsdl:message name="faultCode403">
      <wsdl:part name="fault" element="msg:faultCode403"/>
   </wsdl:message>
   <wsdl:message name="faultCode404">
      <wsdl:part name="fault" element="msg:faultCode404"/>
   </wsdl:message>
   <wsdl:message name="faultCode405">
      <wsdl:part name="fault" element="msg:faultCode405"/>
   </wsdl:message>
   <wsdl:message name="faultCode408">
      <wsdl:part name="fault" element="msg:faultCode408"/>
   </wsdl:message>
   <wsdl:message name="faultCode422">
      <wsdl:part name="fault" element="msg:faultCode422"/>
   </wsdl:message>
   <wsdl:message name="faultCode500">
      <wsdl:part name="fault" element="msg:faultCode500"/>
   </wsdl:message>
   <wsdl:message name="faultCode503">
      <wsdl:part name="fault" element="msg:faultCode503"/>
   </wsdl:message>
   <wsdl:portType name="productOrder">
      <wsdl:documentation/>
      <wsdl:operation name="productOrderCreate">
         <wsdl:documentation><!--                    
                        [public]This operation allows to create a MEF productOrder. 
Reference documents:
- Carrier Ethernet Ordering Technical Specification - April 2017
- Ethernet Ordering Interface Profile Spec
- Ethernet Ordering Framework API Mapping


Additional business control are described in this operation (work in progress):--></wsdl:documentation>
         <wsdl:input name="productOrderCreateRequest" message="ws:productOrderCreate"/>
         <wsdl:output name="productOrderCreateResponse"
                      message="ws:productOrderCreateResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="productOrderGet">
         <wsdl:documentation><!--                    
                        [public]Complete description of a MEF productOrder--></wsdl:documentation>
         <wsdl:input name="productOrderGetRequest" message="ws:productOrderGet"/>
         <wsdl:output name="productOrderGetResponse" message="ws:productOrderGetResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="productOrderFind">
         <wsdl:documentation><!--                    
                        [public]This operation has not been designed with MEF specific search constraints but standard search pattern applies.--></wsdl:documentation>
         <wsdl:input name="productOrderFindRequest" message="ws:productOrderFind"/>
         <wsdl:output name="productOrderFindResponse" message="ws:productOrderFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode401" message="ws:faultCode401"/>
         <wsdl:fault name="faultCode403" message="ws:faultCode403"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode405" message="ws:faultCode405"/>
         <wsdl:fault name="faultCode408" message="ws:faultCode408"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="productOrder.soap11.binding" type="ws:productOrder">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="productOrderCreate">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v0/soap11/productOrderCreate"/>
         <wsdl:input name="productOrderCreateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOrderCreateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="productOrderGet">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v0/soap11/productOrderGet"/>
         <wsdl:input name="productOrderGetRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOrderGetResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="productOrderFind">
         <soap:operation soapAction="http://orange.com/MEF/api/productOrder/v0/soap11/productOrderFind"/>
         <wsdl:input name="productOrderFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="productOrderFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400" message="ws:faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode401" message="ws:faultCode401">
            <soap:fault use="literal" name="faultCode401"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode403" message="ws:faultCode403">
            <soap:fault use="literal" name="faultCode403"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404" message="ws:faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode405" message="ws:faultCode405">
            <soap:fault use="literal" name="faultCode405"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode408" message="ws:faultCode408">
            <soap:fault use="literal" name="faultCode408"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422" message="ws:faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500" message="ws:faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503" message="ws:faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="productOrder">
      <wsdl:documentation>Service: productOrder
            Version: 0.1.1_inProgress
            Owner: MEF
            Generated on: 2017-07-25T20:55:53.595Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
      <wsdl:port name="productOrder.soap11.port"
                 binding="ws:productOrder.soap11.binding">
         <soap:address location="http://localhost/changeIt"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
